---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Contacta conmigo"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
>
	<div class="contact-container">
		<p>
			Si quieres contactar conmigo, puedes hacerlo a través de mi correo
			electrónico: <a href="mailto:{{ metadata.email }}"
				>bielet40@gmail.com</a>
		</p>
		<p>O si lo prefieres, puedes hacerlo a través de mis redes sociales:</p>
		<ul>
			<li>
				<a href="https://twitter.com/{{ metadata.twitter }}">Twitter</a>
			</li>
		</ul>
	</div>
</Layout>

<style>
	.contact-container {
		margin: 0 auto;
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	ul {
		list-style: none;
		padding: 0;
	}

	li {
		margin-bottom: 1rem;
	}
</style>
