---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Contacta conmigo"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
>
	<div class="contact-container">
		<p>
			Si quieres contactar conmigo, puedes hacerlo a través de mi correo
			electrónico: <a href="mailto:{{ metadata.email }}"
				>bielet40@gmail.com</a
			>
		</p>
		<p>O si lo prefieres, puedes hacerlo a través de mis redes sociales:</p>
		<div class="social-text-container">
			<div class="link-container">
				<a
					href="https://www.linkedin.com/in/gabriel-borr%C3%A0s-serra-1b4126188/"
					>LinkedIn</a
				>
				<svg
					viewBox="0 0 24 24"
					aria-hidden="true"
					width="32"
					height="32"
					astro-icon="social/linkedin"
					xmlns="http://www.w3.org/2000/svg"
					fill="#0077B5"
				>
					<path
						d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
					></path>
				</svg>
			</div>

			<div class="link-container">
				<a
					href="https://www.linkedin.com/in/gabriel-borr%C3%A0s-serra-1b4126188/"
					>Twitter</a
				>
				<svg
					viewBox="0 0 24 24"
					aria-hidden="true"
					width="32"
					height="32"
					astro-icon="social/linkedin"
					xmlns="http://www.w3.org/2000/svg"
					fill="#0077B5"
				>
					<path
						d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
					></path>
				</svg>
			</div>

			<div class="link-container">
				<a
					href="https://www.linkedin.com/in/gabriel-borr%C3%A0s-serra-1b4126188/"
					>Gmail</a
				>
				<svg
					viewBox="0 0 24 24"
					aria-hidden="true"
					width="32"
					height="32"
					astro-icon="social/linkedin"
					xmlns="http://www.w3.org/2000/svg"
					fill="#0077B5"
				>
					<path
						d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
					></path>
				</svg>
			</div>
			<div class="link-container">
				<a
					href="https://www.linkedin.com/in/gabriel-borr%C3%A0s-serra-1b4126188/"
					>Instagram</a
				>
				<svg
					viewBox="0 0 24 24"
					aria-hidden="true"
					width="32"
					height="32"
					astro-icon="social/linkedin"
					xmlns="http://www.w3.org/2000/svg"
					fill="#0077B5"
				>
					<path
						d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
					></path>
				</svg>
			</div>

			<div class="link-container">
				<a
					href="https://www.linkedin.com/in/gabriel-borr%C3%A0s-serra-1b4126188/"
					>GitHub</a
				>
				<svg
					viewBox="0 0 24 24"
					aria-hidden="true"
					width="32"
					height="32"
					astro-icon="social/linkedin"
					xmlns="http://www.w3.org/2000/svg"
					fill="#0077B5"
				>
					<path
						d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
					></path>
				</svg>
			</div>

		</div>
	</div>
</Layout>

<style>
	.contact-container {
		margin: 0 auto;
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.contact-links {
		display: flex;
		width: 100%;
		gap: 3%;
		align-items: center;
		justify-content: center;
	}

	.social-text-container {
		display: flex;
		width: 100%;
		align-items: center;
		gap: 5%;
		justify-content: center;
		flex-direction: row;
	}

	.link-container {
		display: flex;
		align-items: center;
		gap: 1%;
		flex-direction: column;
	}
</style>
