---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Experiencia laboral"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
>
	<div class="experience-container">
		<p>Experiencia laboral</p>
		<p>En esta secci칩n encontrar치s informaci칩n sobre mi experiencia laboral.</p>
		<p>Pr칩ximamente...</p>
	</div>
</Layout>

<style>
	.experience-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>