---
import Layout from "../layouts/BlogPost.astro";
import JobCard from "../components/JobCard.astro";
---

<Layout
	title="Experiencia laboral"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
>
	<div class="experience-container">
		<JobCard />
	</div>
</Layout>

<style>
	.experience-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>