---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Projects from "../components/Projects.astro";
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="main">
			<div class="index-container">
				<h5>¡Hola! Me llamo Gabriel Borràs Serra</h5>
				<p>
					Actualmente tengo +4 años de experiencia en el desarrollo de aplicaciones web. 
					Me gusta mucho la tecnología, y particularmente el desarrollo de aplicaciones Fullstack, Bases de Datos y programación de funciones en entornos Cloud.
				</p>
				<p>
					Aquí encontrarás la principal información sobre los
					proyectos en los que he trabajado:
				</p>
				<Projects />
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	.index-container {
		max-width: 75%;
		margin: 0 auto;
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>
