---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/main.css';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="main">
			<h1>¡Bienvenido, Gianni!</h1>
			<p>
				Te doy la bienvenida a la template de mi nuevo proyecto de portafolio hecho con Typescript y Astro 4.0. Lo he empezado hace una hora así que no esperes mucho. <br>
				¡Pero no te preocupes! En los próximos días iré añadiendi más contenido y mejorando el diseño.
			</p>
			<p>
				Aquí encontrarás la principal información sobre los proyectos en los que he trabajado:
			</p>
			<ul>
				<li>
					<a href="/">Proyecto 1</a>
				</li>
				<li>
					<a href="/">Proyecto 2</a>
				</li>
				<li>
					<a href="/">Proyecto 3</a>
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
