---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Projects from "../components/Projects.astro";
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="main">
			<div class="index-container">
				<h5>¡Hola! Me llamo Gabriel Borràs Serra</h5>
				<p>
					Actualmente tengo +4 años de experiencia en el desarrollo de
					aplicaciones web. Me gusta mucho la tecnología, y
					particularmente el desarrollo de aplicaciones Fullstack,
					Bases de Datos y programación de funciones en entornos
					Cloud.
				</p>
				<p>
					Aquí encontrarás la principal información sobre los
					proyectos en los que he trabajado:
				</p>

				<div class="cv-button-container">
					<button id="cv-download" class="cv-download">
						Descárgate mi CV
					</button>
				</div>

				<Projects />
			</div>
		</main>
		<Footer />
		<script>
			const button = document.getElementById("cv-download");

			if (button) {
				button.addEventListener("click", () => {
					window.open(
						"https://blogdebiel.es/pdf/cvBiel.pdf",
						"_blank",
					);
				});
			}
		</script>

		<style>
			.index-container {
				max-width: 75%;
				margin: 0 auto;
				margin-top: 1em;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
			}

			@media only screen and (max-width: 500px) {
				.index-container {
					max-width: 100%;
				}
			}

			.cv-button-container {
				display: flex;
				justify-content: center;
				margin-top: 1em;
			}

			.cv-download {
				align-items: center;
				background-color: #aad7d9;
				border-radius: 5px;
				box-shadow: rgba(151, 65, 252, 0.2) 0 5px 15px -5px;
				box-sizing: border-box;
				color: black;
				display: flex;
				font-family: Phantomsans, sans-serif;
				font-size: 20px;
				justify-content: center;
				line-height: 1em;
				padding: 15px 25px;
				margin-bottom: 20px;
				text-decoration: none;
				user-select: none;
				-webkit-user-select: none;
				touch-action: manipulation;
				white-space: nowrap;
				cursor: pointer;
				transition:
				background-color 0.2s,
				transform 0.2s,
			}

			.cv-download:hover {
				background-image: linear-gradient(
					144deg,
					#aad7d9,
					#e0f2f3 85%,
					#fbf9f1
				);
				transform: scale(1.05);
				box-shadow: rgba(151, 65, 252, 0.4) 0 8px 20px -5px;
			}
		</style>
	</body>
</html>
