---
import Layout from "../layouts/BlogPost.astro";
---

<script type="text/javascript">
	// Código JavaScript para el filtro de tecnologías
	let techMenu = document.querySelector(".tech-menu");
	let techCards = document.getElementsByClassName("tech-card");

	// Función para mostrar todas las tecnologías
	function filterAll() {
		Array.from(techCards).forEach((card) => {
			card.style.display = "block";
		});
	}

	// Función para mostrar tecnologías de Frontend
	function filterFrontend() {
		// Tech cards es un nodeList, no un array, por lo que no se puede usar forEach directamente
		// Se debe convertir a un array primero
		Array.from(techCards).forEach((card) => {
			if (card.classList.contains("frontend")) {
				card.style.display = "block";
			} else {
				card.style.display = "none";
			}
		});
	}

	// Función para mostrar tecnologías de Backend
	function filterBackend() {
		Array.from(techCards).forEach((card) => {
			if (card.classList.contains("backend")) {
				card.style.display = "block";
			} else {
				card.style.display = "none";
			}
		});
	}

	// Función para mostrar tecnologías de DevOps
	function filterDevOps() {
		Array.from(techCards).forEach((card) => {
			if (card.textContent.includes("devops")) {
				card.style.display = "block";
			} else {
				card.style.display = "none";
			}
		});
	}

	// Función para mostrar tecnologías de Mobile
	function filterMobile() {
		Array.from(techCards).forEach((card) => {
			if (card.textContent.includes("android")) {
				card.style.display = "block";
			} else {
				card.style.display = "none";
			}
		});
	}

	// Función para mostrar tecnologías de Database
	function filterDatabase() {
		Array.from(techCards).forEach((card) => {
			if (card.textContent.includes("database")) {
				card.style.display = "block";
			} else {
				card.style.display = "none";
			}
		});
	}
</script>

<Layout
	title="Tecnologías y aptitudes"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
>
	<div class="tech-container">
		<p id="title">
			Listado de tecnologías y aptitudes del desarrollo de software
		</p>

		<nav class="tech-menu">
			<ul>
				<li>
					<a href="#all" class="frontend" onclick="filterAll()">
						<svg
							viewBox="0 0 48 48"
							aria-hidden="true"
							width="32"
							height="32"
						>
							<path
								fill="#4caf50"
								d="M44,24c0,11.044-8.956,20-20,20S4,35.044,4,24S12.956,4,24,4S44,12.956,44,24z"
							></path><path
								fill="#ffc107"
								d="M24,4v20l8,4l-8.843,16c0.317,0,0.526,0,0.843,0c11.053,0,20-8.947,20-20S35.053,4,24,4z"
							></path><path
								fill="#4caf50"
								d="M44,24c0,11.044-8.956,20-20,20S4,35.044,4,24S12.956,4,24,4S44,12.956,44,24z"
							></path><path
								fill="#ffc107"
								d="M24,4v20l8,4l-8.843,16c0.317,0,0.526,0,0.843,0c11.053,0,20-8.947,20-20S35.053,4,24,4z"
							></path><path
								fill="#f44336"
								d="M41.84,15H24v13l-3-1L7.16,13.26H7.14C10.68,7.69,16.91,4,24,4C31.8,4,38.55,8.48,41.84,15z"
							></path><path
								fill="#dd2c00"
								d="M7.158,13.264l8.843,14.862L21,27L7.158,13.264z"
							></path><path
								fill="#558b2f"
								d="M23.157,44l8.934-16.059L28,25L23.157,44z"
							></path><path
								fill="#f9a825"
								d="M41.865,15H24l-1.579,4.58L41.865,15z"
							></path><path
								fill="#fff"
								d="M33,24c0,4.969-4.031,9-9,9s-9-4.031-9-9s4.031-9,9-9S33,19.031,33,24z"
							></path><path
								fill="#2196f3"
								d="M31,24c0,3.867-3.133,7-7,7s-7-3.133-7-7s3.133-7,7-7S31,20.133,31,24z"
							></path>
						</svg>
						Todas
					</a>
				</li>
				<li>
					<a
						href="#frontend"
						class="frontend"
						onclick="filterFrontend()"
					>
						<svg
							viewBox="0 0 48 48"
							aria-hidden="true"
							width="32"
							height="32"
						>
							<path
								fill="#E65100"
								d="M41,5H7l3,34l14,4l14-4L41,5L41,5z"
							></path><path
								fill="#FF6D00"
								d="M24 8L24 39.9 35.2 36.7 37.7 8z"></path><path
								fill="#FFF"
								d="M24,25v-4h8.6l-0.7,11.5L24,35.1v-4.2l4.1-1.4l0.3-4.5H24z M32.9,17l0.3-4H24v4H32.9z"
							></path><path
								fill="#EEE"
								d="M24,30.9v4.2l-7.9-2.6L15.7,27h4l0.2,2.5L24,30.9z M19.1,17H24v-4h-9.1l0.7,12H24v-4h-4.6L19.1,17z"
							></path>
						</svg>
						Frontend
					</a>
				</li>
				<li>
					<a
						href="#backend"
						class="backend"
						onclick="filterBackend()"
					>
						<svg
							viewBox="0 0 48 48"
							aria-hidden="true"
							width="32"
							height="32"
						>
							<path
								fill="#00c853"
								d="M22.903,3.286c0.679-0.381,1.515-0.381,2.193,0c3.355,1.883,13.451,7.551,16.807,9.434 C42.582,13.1,43,13.804,43,14.566c0,3.766,0,15.101,0,18.867c0,0.762-0.418,1.466-1.097,1.847 c-3.355,1.883-13.451,7.551-16.807,9.434c-0.679,0.381-1.515,0.381-2.193,0c-3.355-1.883-13.451-7.551-16.807-9.434 C5.418,34.899,5,34.196,5,33.434c0-3.766,0-15.101,0-18.867c0-0.762,0.418-1.466,1.097-1.847 C9.451,10.837,19.549,5.169,22.903,3.286z"
							></path><path
								fill="#69f0ae"
								d="M5.304,34.404C5.038,34.048,5,33.71,5,33.255c0-3.744,0-15.014,0-18.759 c0-0.758,0.417-1.458,1.094-1.836c3.343-1.872,13.405-7.507,16.748-9.38c0.677-0.379,1.594-0.371,2.271,0.008 c3.343,1.872,13.371,7.459,16.714,9.331c0.27,0.152,0.476,0.335,0.66,0.576L5.304,34.404z"
							></path><path
								fill="#fff"
								d="M24,10c-7.73,0-14,6.27-14,14s6.27,14,14,14s14-6.27,14-14S31.73,10,24,10z M24,31 c-3.86,0-7-3.14-7-7s3.14-7,7-7s7,3.14,7,7S27.86,31,24,31z"
							></path><path
								fill="#00e676"
								d="M42.485,13.205c0.516,0.483,0.506,1.211,0.506,1.784c0,3.795-0.032,14.589,0.009,18.384 c0.004,0.396-0.127,0.813-0.323,1.127L23.593,24L42.485,13.205z"
							></path><path
								fill="#fff"
								d="M34 20H35V28H34zM37 20H38V28H37z"
							></path><path
								fill="#fff"
								d="M32 25H40V26H32zM32 22H40V23H32z"></path>
						</svg>
						Backend
					</a>
				</li>
				<li>
					<a href="#devops" class="devops" onclick="filterDevOps()">
						<svg
							viewBox="0 0 48 48"
							aria-hidden="true"
							width="32"
							height="32"
							style="margin-right: 10px;"
						>
							<path
								fill="#ff8f00"
								d="M42 11L47.691 9 42 7 36.309 9zM43 12.667L43 19 48 17.333 48 11zM41 12.667L36 11 36 17.333 41 19zM28 11L33.691 9 28 7 22.309 9zM29 12.667L29 19 34 17.333 34 11zM27 12.667L22 11 22 17.333 27 19zM21 23L26.691 21 21 19 15.309 21zM22 24.667L22 31 27 29.333 27 23zM20 24.667L15 23 15 29.333 20 31zM7 23L12.691 21 7 19 1.309 21zM8 24.667L8 31 13 29.333 13 23zM6 24.667L1 23 1 29.333 6 31zM14 35L19.691 33 14 31 8.309 33zM15 36.667L15 43 20 41.333 20 35zM13 36.667L8 35 8 41.333 13 43z"
							></path>
						</svg>
						DevOps
					</a>
				</li>
				<li>
					<a href="#mobile" onclick="filterMobile()">
						<svg
							viewBox="0 0 48 48"
							aria-hidden="true"
							width="32"
							height="32"
						>
							<path
								fill="#eceff1"
								d="M16,42h16c5.523,0,10-4.477,10-10V16c0-5.523-4.477-10-10-10H16C10.477,6,6,10.477,6,16v16C6,37.523,10.477,42,16,42z"
							></path><path
								fill="#ffc107"
								d="M12.783 17.974A0.762 0.762 0 1 0 12.783 19.498A0.762 0.762 0 1 0 12.783 17.974Z"
							></path><path
								fill="#ff5722"
								d="M15.982 21.81l1.444-.61c.68-1.22 1.835-1.927 3.332-1.927.34 0 .659.043.962.113l1.372-.579c-.676-.333-1.451-.526-2.334-.526C18.368 18.281 16.663 19.594 15.982 21.81zM13.297 22.944L13.297 21.375 12.273 21.375 12.273 23.377z"
							></path><path
								fill="#f44336"
								d="M13.297 25.733L13.297 22.944 12.273 23.377 12.273 26.165zM16.742 24.148c0-1.169.246-2.163.684-2.948l-1.444.61c-.214.696-.333 1.476-.333 2.338 0 .201.028.382.04.574l1.062-.449C16.75 24.23 16.742 24.192 16.742 24.148zM30.421 18.5c-.279.086-.537.195-.774.327L30.421 18.5zM23.092 18.807l-1.372.579c1.027.237 1.828.863 2.35 1.796l1.022-.432C24.624 19.878 23.941 19.226 23.092 18.807z"
							></path><path
								fill="#e91e63"
								d="M13.297 28.521L13.297 25.733 12.273 26.165 12.273 28.953zM30.421 18.5l-.774.327c-.983.547-1.577 1.464-1.577 2.58 0 .302.046.571.117.825l1.032-.436c-.034-.132-.056-.27-.056-.42 0-1.227 1.117-2.117 2.734-2.117.796 0 1.467.213 1.958.579l1.048-.443c-.694-.684-1.735-1.113-2.974-1.113C31.381 18.281 30.876 18.36 30.421 18.5zM16.75 24.274l-1.062.449c.059.959.26 1.811.597 2.536l1.004-.424C16.954 26.121 16.766 25.26 16.75 24.274zM25.092 20.751l-1.022.432c.381.682.603 1.532.658 2.51l1.061-.448C25.695 22.297 25.467 21.452 25.092 20.751z"
							></path><g
								><path
									fill="#9c27b0"
									d="M25.609 26.108c.146-.602.242-1.247.242-1.96 0-.316-.033-.609-.063-.904l-1.061.448c.009.153.03.296.03.456 0 .968-.177 1.809-.481 2.523L25.609 26.108zM17.29 26.834l-1.004.424c.408.879 1.008 1.568 1.777 2.038l1.258-.531C18.42 28.427 17.727 27.764 17.29 26.834zM13.297 28.521L12.273 28.953 12.273 29.789 13.297 29.789zM29.22 21.795l-1.032.436c.245.866.915 1.471 2.129 1.889l1.6-.676-.338-.085C30.122 22.995 29.406 22.527 29.22 21.795zM34.719 21.273h1.078c-.05-.731-.379-1.373-.893-1.879l-1.048.443C34.328 20.189 34.635 20.684 34.719 21.273z"
								></path></g
							><g
								><path
									fill="#3f51b5"
									d="M25.609 26.108l-1.333.563c-.629 1.476-1.85 2.36-3.519 2.36-.528 0-1.001-.103-1.437-.267l-1.258.531c.752.459 1.648.728 2.695.728C23.3 30.023 25.019 28.541 25.609 26.108zM28.828 26.859H27.75c.026.368.127.705.264 1.021l.989-.418C28.919 27.273 28.853 27.074 28.828 26.859zM32.695 23.641l-.779-.196-1.6.676c.234.081.487.156.762.224l1.289.328c.714.176 1.257.399 1.659.669l1.205-.509C34.703 24.318 33.878 23.934 32.695 23.641z"
								></path></g
							><g
								><path
									fill="#03a9f4"
									d="M29.003 27.463l-.989.418c.377.87 1.139 1.531 2.166 1.873l1.692-.714C30.493 29.007 29.415 28.396 29.003 27.463zM35.914 27.333c.035-.193.063-.39.063-.598 0-.784-.234-1.404-.745-1.902l-1.205.509c.579.39.856.883.856 1.51 0 .393-.131.75-.348 1.063L35.914 27.333z"
								></path></g
							><path
								fill="#009688"
								d="M35.914,27.333l-1.379,0.583c-0.472,0.682-1.394,1.132-2.55,1.132c-0.039,0-0.074-0.006-0.112-0.007l-1.692,0.714c0.514,0.171,1.086,0.269,1.71,0.269C34.098,30.023,35.615,28.964,35.914,27.333z"
							></path>
						</svg>
						Mobile
					</a>
				</li>
				<li>
					<a
						href="#database"
						class="database"
						onclick="filterDatabase()"
					>
						<svg
							viewBox="0 0 100 100"
							aria-hidden="true"
							width="32"
							height="32"
						>
							<path
								fill="#6e78ac"
								d="M83.242,60.482c-6.349,1.924-9.957-0.415-9.957-0.415s-0.006,0-0.007,0l-0.394-0.488	c0.131-0.117,0.264-0.242,0.4-0.381l0.019-0.017l-0.001-0.002c5.639-5.753,15.838-29.562,9.749-37.378	c-8.553-10.979-25.66-5.745-25.66-5.745l0.064,0.183c-4.889-1.666-9.947-1.625-13.851,0.838c-0.661,0.417-1.273,0.873-1.844,1.357	l0.014-0.187c0,0-8.149-3.213-15.851-2.383c-7.954,0.857-12.319,6.83-12.319,15.83s6.17,30.553,10.17,34.553s6,2,7,1	c0.896-0.896,6.588-7.387,7.771-8.738c2.143,1.4,4.575,1.743,5.983,1.748c-0.184,0.991-1.31,4.988-7.562,5.714	c-2.809,0.447-1.915,2.298,0.128,2.872c2.002,0.563,8.415,1.967,12.335-3.509c-0.052,3.397-0.183,9.771,0.304,15.126	c0.574,6.319,3.983,8.376,6.511,8.713c7.878,1.048,10.628-4.308,11.394-6.702c0.702-2.194,1.839-10.809,2.213-16.588l0.503-0.089	l-0.004,0.05c8.106,1.277,12.734-1.66,14.362-3.191C86.338,61.12,85.349,59.844,83.242,60.482z"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-miterlimit="10"
								stroke-width="2"
								d="M39,58c0,0-6.75,7.562-7.75,8.562s-3,3-7-1	s-10.25-25-10.25-34s4.234-15.518,12.188-16.375C33.89,14.358,42,18,42,18"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-miterlimit="10"
								stroke-width="2"
								d="M71.213,56.947	c2.681-2.106,2.968-8.713,2.489-12.734c-0.479-4.021,0.331-6.392,0.235-11.275C70.682,19.629,53.612,10.839,43.75,17.062	s-8.854,20.137-8.375,24.062s-2.444,6.539-0.625,12.188s7.644,6.698,10.037,6.698c2.394,0,4.883,0.957,4.883,3.543	s-0.287,10.34,0.287,16.66c0.574,6.319,3.983,8.376,6.511,8.713c7.878,1.048,10.628-4.309,11.394-6.702s2.052-12.439,2.298-18.096	c0.191-4.404,3.351-4.309,3.351-4.309s3.608,2.339,9.957,0.415c2.106-0.638,3.096,0.638,1.468,2.17	c-1.628,1.532-6.017,4.56-14.124,3.283"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-miterlimit="10"
								stroke-width="2"
								d="M74.085,33.617c0,0-6.523-2.242-8.71,2.195	c-1.893,3.841,3.987,18.294,8.199,23.592"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-miterlimit="10"
								stroke-width="2"
								d="M34.574,36.617c0,0,7.652-4.612,11.801-1.867	S48.936,48.106,47.149,52c-1.787,3.894-2.362,7.787-2.362,7.787s-0.447,5.106-7.596,5.936c-2.809,0.447-1.915,2.298,0.128,2.872	c2.043,0.574,8.681,2.043,12.574-3.83"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-miterlimit="10"
								stroke-width="2"
								d="M57.617,15.809	c0,0,17.356-4.174,25.383,5.629c6.553,8.003-4.766,33.882-10.191,38.158"
							></path><path
								fill="#1f212b"
								d="M69.154,38.037c-1.652,0.168-3.423-1.939-0.096-2.346C72.177,35.31,71.323,37.817,69.154,38.037z"
							></path><path
								fill="#1f212b"
								d="M43.223,38.848c-1.824-0.23-3.212-2.945,0.481-2.556C47.165,36.657,45.619,39.151,43.223,38.848z"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M39.492,27.447	c-0.236,0.688-0.451,1.425-0.641,2.213"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M47.808,18.479	c-2.789,0.876-5.771,2.939-7.731,7.456"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M55.064,18.298	c0,0-2.11-0.621-4.851-0.319"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M20.148,21.817	c-1.921,2.074-3.369,5.451-3.173,10.945"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M28.319,18.553	c0,0-3.417-0.258-6.503,1.833"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M53.549,82.6	c0.649,1.702,1.858,3.266,4.1,3.613"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M52.83,77.596	c0,0-0.095,1.358,0.186,3.001"
							></path>
						</svg>
						Bases de datos
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<!-- LISTADO DE CARDS DE TECNOLOGÍAS -->
	<div class="tech-container">
		<div>
			<div class="tech-cards">
				<div class="tech-card frontend">
					<h3>HTML</h3>
					<p>
						HTML es el lenguaje de marcado estándar para documentos
						diseñados para ser mostrados en un navegador web.
					</p>
				</div>
				<div class="tech-card frontend">
					<h3>CSS</h3>
					<p>
						CSS es un lenguaje usado para describir la presentación
						de un documento estructurado escrito en HTML.
					</p>
				</div>
				<div class="tech-card frontend backend">
					<h3>JavaScript</h3>
					<p>
						JavaScript es un lenguaje de programación que se utiliza
						principalmente para crear páginas web interactivas.
					</p>
				</div>
				<div class="tech-card frontend">
					<h3>React</h3>
					<p>
						React es una biblioteca de JavaScript para construir
						interfaces de usuario.
					</p>
				</div>
				<div class="tech-card backend">
					<h3>Node.js</h3>
					<p>
						Node.js es un entorno de ejecución para JavaScript
						construido con el motor de JavaScript V8 de Chrome.
					</p>
				</div>
				<div class="tech-card backend">
					<h3>Express</h3>
					<p>
						Express es un marco de aplicación web de back-end para
						Node.js.
					</p>
				</div>
				<div class="tech-card">
					<h3>Git</h3>
					<p>
						Git es un sistema de control de versiones distribuido de
						código abierto.
					</p>
				</div>
				<div class="tech-card">
					<h3>GitHub</h3>
					<p>
						GitHub es una plataforma de desarrollo colaborativo de
						software para alojar proyectos utilizando el sistema de
						control de versiones Git.
					</p>
				</div>
				<div class="tech-card">
					<h3>Heroku</h3>
					<p>
						Heroku es una plataforma como servicio en la nube que
						admite varios lenguajes de programación.
					</p>
				</div>
				<div class="tech-card">
					<h3>Android</h3>
					<p>Android</p>
				</div>
				<div class="tech-card">
					<h3>MySQL</h3>
					<p>
						MySQL es un sistema de gestión de bases de datos
						relacional de código abierto.
					</p>
				</div>
			</div>
		</div>
	</div>

	<style>
		#title {
			margin-bottom: 2em !important;
			margin-top: 0 !important;
		}

		@keyframes fadeIn {
			0% {
				opacity: 0;
				transform: translateY(20px);
			}
			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		.tech-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			animation: fadeIn 2s ease-in-out;
		}

		input {
			background: none;
			color: black;
			font-size: 18px;
			padding: 10px 10px 10px 5px;
			display: block;
			width: 100%;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid black;
			&:focus {
				outline: none;
			}
			&:focus ~ label,
			&:valid ~ label {
				top: -14px;
				font-size: 12px;
				color: green;
			}
		}

		label {
			color: black;
			font-size: 16px;
			font-weight: normal;
			position: absolute;
			pointer-events: none;
			left: 5px;
			top: 10px;
		}

		.tech-menu {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 10px;
			margin-bottom: 2em;
		}

		.tech-menu ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
		}

		.tech-menu li {
			margin: 0 10px;
		}

		.tech-menu a {
			text-decoration: none;
			color: #fbf9f1;
			padding: 8px 16px;
			border-radius: 8%;
			background-color: #aad7d9;
			transition: background-color 0.3s ease-in-out;
		}

		.tech-menu a:hover {
			background-color: linear-gradient(var(--gray-gradient)) no-repeat;
			color: var(--black);
		}

		li > a {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		/* Media query para dispositivos móviles */
		@media only screen and (max-width: 500px) {
			.tech-menu {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.tech-menu ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				width: 100%;
				gap: 2em;
			}
		}
	</style>
</Layout>
