---
import Layout from "../layouts/BlogPost.astro";

let technologies = [
	{
		name: "TypeScript",
		type: "frontend",
		description:
			"TypeScript es un superconjunto de JavaScript que añade tipado estático y objetos basados en clases. En lo que a personal se refiere, éste es mi lenguaje favorito actualmente.",
		link: "https://www.typescriptlang.org/",
		class: "typescript-icon",
	},
	{
		name: "Java",
		type: "backend",
		description:
			"Java es un lenguaje de programación de propósito general, concurrente, orientado a objetos que fue diseñado específicamente para tener tan pocas dependencias de implementación como fuera posible. He trabajado principalmente con la versión de Java 8 y Java 11",
		link: "https://www.java.com/",
		class: "java-icon",
	},
	{
		name: "C#",
		type: "backend",
		description:
			"C# es un lenguaje de programación orientado a objetos desarrollado y estandarizado por Microsoft como parte de su plataforma .NET.",
		link: "https://docs.microsoft.com/en-us/dotnet/csharp/",
		class: "csharp-icon",
	},
	{
		name: ".NET",
		type: "backend",
		description:
			".NET es un framework de software multiplataforma desarrollado por Microsoft. Actualmente es mi framework de desarrollo backend favorito, y es en el que tengo más experiencia.",
		link: "https://docs.microsoft.com/en-us/dotnet/csharp/",
		class: "dotnet-icon",
	},
	{
		name: "Microsoft Azure",
		type: "devops",
		description:
			"Microsoft Azure es una plataforma de computación en la nube y servicios en la nube para crear, implementar y administrar aplicaciones y servicios a través de una red global de centros de datos administrados por Microsoft.",
		link: "https://azure.microsoft.com/",
		class: "azure-icon",
	},
	{
		name: "React.js",
		type: "frontend",
		description:
			"React es una librería de JavaScript para construir interfaces de usuario.",
		link: "https://reactjs.org/",
		class: "react-icon",
	},
	{
		name: "Vue.js",
		type: "frontend",
		description:
			"Vue.js es un framework progresivo para construir interfaces de usuario.",
		link: "https://vuejs.org/",
		class: "vue-icon",
	},
	{
		name: "Angular",
		type: "frontend",
		description:
			"Angular es un framework de Typescript (superconjunto de JavaScript) para construir aplicaciones web modernas y escalables. Actualmente es mi preferencia a la hora de desarrollar un proyecto de Frontend.",
		link: "https://angular.io/",
		class: "angular-icon",
	},
	{
		name: "Node.js",
		type: "backend",
		description: "Node.js es un entorno de ejecución de JavaScript.",
		link: "https://nodejs.org/",
		class: "nodejs-icon",
	},
	{
		name: "Express.js",
		type: "backend",
		description:
			"Express es un framework de Node.js para construir aplicaciones web y APIs.",
		link: "https://expressjs.com/",
		class: "express-icon",
	},
	{
		name: "NestJS",
		type: "backend",
		description:
			"NestJS es un framework de Node.js basado en Express para poder construir aplicaciones web y APIs.",
		link: "https://nestjs.com/",
		class: "nestjs-icon",
	},
	{
		name: "Git",
		type: "devops",
		description: "Git es un sistema de control de versiones distribuido.",
		link: "https://git-scm.com/",
		class: "git-icon",
	},
	{
		name: "GitHub",
		type: "devops",
		description:
			"GitHub es una plataforma de desarrollo colaborativo de software para alojar proyectos utilizando el sistema de control de versiones Git.",
		link: "https://github.com",
		class: "github-icon",
	},
	{
		name: "MySQL",
		type: "database",
		description:
			"MySQL es un sistema de gestión de bases de datos relacional.",
		link: "https://www.mysql.com/",
		class: "mysql-icon",
	},
	{
		name: "PostgreSQL",
		type: "database",
		description:
			"PostgreSQL es un sistema de gestión de bases de datos relacional.",
		link: "https://www.postgresql.org/",
		class: "postgresql-icon",
	},
	{
		name: "HTML5",
		type: "frontend",
		description:
			"HTML es un lenguaje de marcado para la elaboración de páginas web.",
		link: "https://developer.mozilla.org/es/docs/Web/HTML",
		class: "html-icon",
	},
	{
		name: "CSS",
		type: "frontend",
		description:
			"CSS es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en HTML.",
		link: "https://developer.mozilla.org/es/docs/Web/CSS",
		class: "css-icon",
	},
	{
		name: "JavaScript",
		type: "frontend",
		description:
			"JavaScript es un lenguaje de programación que se utiliza principalmente para crear páginas web interactivas.",
		link: "https://developer.mozilla.org/es/docs/Web/JavaScript",
		class: "javascript-icon",
	},
	{
		name: "SASS",
		type: "frontend",
		description:
			"Sass es un preprocesador de CSS que nos permite escribir código CSS de una forma más eficiente y sencilla.",
		link: "https://sass-lang.com/",
		class: "sass-icon",
	}, 
	{
		name: "Docker",
		type: "devops",
		description:
			"Docker es un proyecto de código abierto que automatiza el despliegue de aplicaciones dentro de contenedores de software.",
		link: "https://www.docker.com/",
		class: "docker-icon",
	},
	{
		name: "Kubernetes",
		type: "devops",
		description:
			"Kubernetes es un sistema de código abierto para la automatización del despliegue, escalado y manejo de aplicaciones en contenedores.",
		link: "https://kubernetes.io/",
		class: "kubernetes-icon",
	},
	{
		name: "Jenkins",
		type: "devops",
		description:
			"Jenkins es un servidor de automatización de código abierto que se puede utilizar para automatizar todos los aspectos de la construcción, prueba e implementación de software.",
		link: "https://www.jenkins.io/",
		class: "jenkins-icon",
	},
	{
		name: "Jest",
		type: "frontend",
		description:
			"Jest es un framework de pruebas de JavaScript con un enfoque en la simplicidad.",
		link: "https://jestjs.io/",
		class: "jest-icon"
	}
];
---

<script type="text/javascript">
	let techCards = document.getElementsByClassName("tech-card");

	function filterAll() {
		Array.from(techCards).forEach((card) => {
			card.style.display = "flex";
		});
	}

	function filterFrontend() {
		Array.from(techCards).forEach((card) => {
			if (card.classList.contains("frontend")) {
				card.style.display = "flex";
			} else {
				card.style.display = "none";
			}
		});
	}

	function filterBackend() {
		Array.from(techCards).forEach((card) => {
			if (card.classList.contains("backend")) {
				card.style.display = "flex";
			} else {
				card.style.display = "none";
			}
		});
	}

	function filterDevOps() {
		Array.from(techCards).forEach((card) => {
			if (card.classList.contains("devops")) {
				card.style.display = "flex";
			} else {
				card.style.display = "none";
			}
		});
	}

	function filterMobile() {
		Array.from(techCards).forEach((card) => {
			if (card.textContent.includes("mobile")) {
				card.style.display = "flex";
			} else {
				card.style.display = "none";
			}
		});
	}

	function filterDatabase() {
		Array.from(techCards).forEach((card) => {
			if (card.classList.contains("database")) {
				card.style.display = "flex";
			} else {
				card.style.display = "none";
			}
		});
	}
</script>

<Layout
	title="Tecnologías y aptitudes"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
>
	<div class="tech-container">
		<p id="title">
			Listado de tecnologías y aptitudes del desarrollo de software
		</p>

		<nav class="tech-menu">
			<ul class="ul">
				<li>
					<a href="#all" class="frontend" onclick="filterAll()">
						<svg
							viewBox="0 0 48 48"
							aria-hidden="true"
							width="32"
							height="32"
						>
							<path
								fill="#4caf50"
								d="M44,24c0,11.044-8.956,20-20,20S4,35.044,4,24S12.956,4,24,4S44,12.956,44,24z"
							></path><path
								fill="#ffc107"
								d="M24,4v20l8,4l-8.843,16c0.317,0,0.526,0,0.843,0c11.053,0,20-8.947,20-20S35.053,4,24,4z"
							></path><path
								fill="#4caf50"
								d="M44,24c0,11.044-8.956,20-20,20S4,35.044,4,24S12.956,4,24,4S44,12.956,44,24z"
							></path><path
								fill="#ffc107"
								d="M24,4v20l8,4l-8.843,16c0.317,0,0.526,0,0.843,0c11.053,0,20-8.947,20-20S35.053,4,24,4z"
							></path><path
								fill="#f44336"
								d="M41.84,15H24v13l-3-1L7.16,13.26H7.14C10.68,7.69,16.91,4,24,4C31.8,4,38.55,8.48,41.84,15z"
							></path><path
								fill="#dd2c00"
								d="M7.158,13.264l8.843,14.862L21,27L7.158,13.264z"
							></path><path
								fill="#558b2f"
								d="M23.157,44l8.934-16.059L28,25L23.157,44z"
							></path><path
								fill="#f9a825"
								d="M41.865,15H24l-1.579,4.58L41.865,15z"
							></path><path
								fill="#fff"
								d="M33,24c0,4.969-4.031,9-9,9s-9-4.031-9-9s4.031-9,9-9S33,19.031,33,24z"
							></path><path
								fill="#2196f3"
								d="M31,24c0,3.867-3.133,7-7,7s-7-3.133-7-7s3.133-7,7-7S31,20.133,31,24z"
							></path>
						</svg>
						Todas
					</a>
				</li>
				<li>
					<a
						href="#frontend"
						class="frontend"
						onclick="filterFrontend()"
					>
						<svg
							viewBox="0 0 48 48"
							aria-hidden="true"
							width="32"
							height="32"
						>
							<path
								fill="#E65100"
								d="M41,5H7l3,34l14,4l14-4L41,5L41,5z"
							></path><path
								fill="#FF6D00"
								d="M24 8L24 39.9 35.2 36.7 37.7 8z"></path><path
								fill="#FFF"
								d="M24,25v-4h8.6l-0.7,11.5L24,35.1v-4.2l4.1-1.4l0.3-4.5H24z M32.9,17l0.3-4H24v4H32.9z"
							></path><path
								fill="#EEE"
								d="M24,30.9v4.2l-7.9-2.6L15.7,27h4l0.2,2.5L24,30.9z M19.1,17H24v-4h-9.1l0.7,12H24v-4h-4.6L19.1,17z"
							></path>
						</svg>
						Frontend
					</a>
				</li>
				<li>
					<a
						href="#backend"
						class="backend"
						onclick="filterBackend()"
					>
						<svg
							viewBox="0 0 48 48"
							aria-hidden="true"
							width="32"
							height="32"
						>
							<path
								fill="#00c853"
								d="M22.903,3.286c0.679-0.381,1.515-0.381,2.193,0c3.355,1.883,13.451,7.551,16.807,9.434 C42.582,13.1,43,13.804,43,14.566c0,3.766,0,15.101,0,18.867c0,0.762-0.418,1.466-1.097,1.847 c-3.355,1.883-13.451,7.551-16.807,9.434c-0.679,0.381-1.515,0.381-2.193,0c-3.355-1.883-13.451-7.551-16.807-9.434 C5.418,34.899,5,34.196,5,33.434c0-3.766,0-15.101,0-18.867c0-0.762,0.418-1.466,1.097-1.847 C9.451,10.837,19.549,5.169,22.903,3.286z"
							></path><path
								fill="#69f0ae"
								d="M5.304,34.404C5.038,34.048,5,33.71,5,33.255c0-3.744,0-15.014,0-18.759 c0-0.758,0.417-1.458,1.094-1.836c3.343-1.872,13.405-7.507,16.748-9.38c0.677-0.379,1.594-0.371,2.271,0.008 c3.343,1.872,13.371,7.459,16.714,9.331c0.27,0.152,0.476,0.335,0.66,0.576L5.304,34.404z"
							></path><path
								fill="#fff"
								d="M24,10c-7.73,0-14,6.27-14,14s6.27,14,14,14s14-6.27,14-14S31.73,10,24,10z M24,31 c-3.86,0-7-3.14-7-7s3.14-7,7-7s7,3.14,7,7S27.86,31,24,31z"
							></path><path
								fill="#00e676"
								d="M42.485,13.205c0.516,0.483,0.506,1.211,0.506,1.784c0,3.795-0.032,14.589,0.009,18.384 c0.004,0.396-0.127,0.813-0.323,1.127L23.593,24L42.485,13.205z"
							></path><path
								fill="#fff"
								d="M34 20H35V28H34zM37 20H38V28H37z"
							></path><path
								fill="#fff"
								d="M32 25H40V26H32zM32 22H40V23H32z"></path>
						</svg>
						Backend
					</a>
				</li>
				<li>
					<a href="#devops" class="devops" onclick="filterDevOps()">
						<svg
							viewBox="0 0 48 48"
							aria-hidden="true"
							width="32"
							height="32"
							style="margin-right: 10px;"
						>
							<path
								fill="#ff8f00"
								d="M42 11L47.691 9 42 7 36.309 9zM43 12.667L43 19 48 17.333 48 11zM41 12.667L36 11 36 17.333 41 19zM28 11L33.691 9 28 7 22.309 9zM29 12.667L29 19 34 17.333 34 11zM27 12.667L22 11 22 17.333 27 19zM21 23L26.691 21 21 19 15.309 21zM22 24.667L22 31 27 29.333 27 23zM20 24.667L15 23 15 29.333 20 31zM7 23L12.691 21 7 19 1.309 21zM8 24.667L8 31 13 29.333 13 23zM6 24.667L1 23 1 29.333 6 31zM14 35L19.691 33 14 31 8.309 33zM15 36.667L15 43 20 41.333 20 35zM13 36.667L8 35 8 41.333 13 43z"
							></path>
						</svg>
						DevOps
					</a>
				</li>
				<li>
					<a href="#mobile" onclick="filterMobile()">
						<svg
							viewBox="0 0 48 48"
							aria-hidden="true"
							width="32"
							height="32"
						>
							<path
								fill="#eceff1"
								d="M16,42h16c5.523,0,10-4.477,10-10V16c0-5.523-4.477-10-10-10H16C10.477,6,6,10.477,6,16v16C6,37.523,10.477,42,16,42z"
							></path><path
								fill="#ffc107"
								d="M12.783 17.974A0.762 0.762 0 1 0 12.783 19.498A0.762 0.762 0 1 0 12.783 17.974Z"
							></path><path
								fill="#ff5722"
								d="M15.982 21.81l1.444-.61c.68-1.22 1.835-1.927 3.332-1.927.34 0 .659.043.962.113l1.372-.579c-.676-.333-1.451-.526-2.334-.526C18.368 18.281 16.663 19.594 15.982 21.81zM13.297 22.944L13.297 21.375 12.273 21.375 12.273 23.377z"
							></path><path
								fill="#f44336"
								d="M13.297 25.733L13.297 22.944 12.273 23.377 12.273 26.165zM16.742 24.148c0-1.169.246-2.163.684-2.948l-1.444.61c-.214.696-.333 1.476-.333 2.338 0 .201.028.382.04.574l1.062-.449C16.75 24.23 16.742 24.192 16.742 24.148zM30.421 18.5c-.279.086-.537.195-.774.327L30.421 18.5zM23.092 18.807l-1.372.579c1.027.237 1.828.863 2.35 1.796l1.022-.432C24.624 19.878 23.941 19.226 23.092 18.807z"
							></path><path
								fill="#e91e63"
								d="M13.297 28.521L13.297 25.733 12.273 26.165 12.273 28.953zM30.421 18.5l-.774.327c-.983.547-1.577 1.464-1.577 2.58 0 .302.046.571.117.825l1.032-.436c-.034-.132-.056-.27-.056-.42 0-1.227 1.117-2.117 2.734-2.117.796 0 1.467.213 1.958.579l1.048-.443c-.694-.684-1.735-1.113-2.974-1.113C31.381 18.281 30.876 18.36 30.421 18.5zM16.75 24.274l-1.062.449c.059.959.26 1.811.597 2.536l1.004-.424C16.954 26.121 16.766 25.26 16.75 24.274zM25.092 20.751l-1.022.432c.381.682.603 1.532.658 2.51l1.061-.448C25.695 22.297 25.467 21.452 25.092 20.751z"
							></path><g
								><path
									fill="#9c27b0"
									d="M25.609 26.108c.146-.602.242-1.247.242-1.96 0-.316-.033-.609-.063-.904l-1.061.448c.009.153.03.296.03.456 0 .968-.177 1.809-.481 2.523L25.609 26.108zM17.29 26.834l-1.004.424c.408.879 1.008 1.568 1.777 2.038l1.258-.531C18.42 28.427 17.727 27.764 17.29 26.834zM13.297 28.521L12.273 28.953 12.273 29.789 13.297 29.789zM29.22 21.795l-1.032.436c.245.866.915 1.471 2.129 1.889l1.6-.676-.338-.085C30.122 22.995 29.406 22.527 29.22 21.795zM34.719 21.273h1.078c-.05-.731-.379-1.373-.893-1.879l-1.048.443C34.328 20.189 34.635 20.684 34.719 21.273z"
								></path></g
							><g
								><path
									fill="#3f51b5"
									d="M25.609 26.108l-1.333.563c-.629 1.476-1.85 2.36-3.519 2.36-.528 0-1.001-.103-1.437-.267l-1.258.531c.752.459 1.648.728 2.695.728C23.3 30.023 25.019 28.541 25.609 26.108zM28.828 26.859H27.75c.026.368.127.705.264 1.021l.989-.418C28.919 27.273 28.853 27.074 28.828 26.859zM32.695 23.641l-.779-.196-1.6.676c.234.081.487.156.762.224l1.289.328c.714.176 1.257.399 1.659.669l1.205-.509C34.703 24.318 33.878 23.934 32.695 23.641z"
								></path></g
							><g
								><path
									fill="#03a9f4"
									d="M29.003 27.463l-.989.418c.377.87 1.139 1.531 2.166 1.873l1.692-.714C30.493 29.007 29.415 28.396 29.003 27.463zM35.914 27.333c.035-.193.063-.39.063-.598 0-.784-.234-1.404-.745-1.902l-1.205.509c.579.39.856.883.856 1.51 0 .393-.131.75-.348 1.063L35.914 27.333z"
								></path></g
							><path
								fill="#009688"
								d="M35.914,27.333l-1.379,0.583c-0.472,0.682-1.394,1.132-2.55,1.132c-0.039,0-0.074-0.006-0.112-0.007l-1.692,0.714c0.514,0.171,1.086,0.269,1.71,0.269C34.098,30.023,35.615,28.964,35.914,27.333z"
							></path>
						</svg>
						Mobile
					</a>
				</li>
				<li>
					<a
						href="#database"
						class="database"
						onclick="filterDatabase()"
					>
						<svg
							viewBox="0 0 100 100"
							aria-hidden="true"
							width="32"
							height="32"
						>
							<path
								fill="#6e78ac"
								d="M83.242,60.482c-6.349,1.924-9.957-0.415-9.957-0.415s-0.006,0-0.007,0l-0.394-0.488	c0.131-0.117,0.264-0.242,0.4-0.381l0.019-0.017l-0.001-0.002c5.639-5.753,15.838-29.562,9.749-37.378	c-8.553-10.979-25.66-5.745-25.66-5.745l0.064,0.183c-4.889-1.666-9.947-1.625-13.851,0.838c-0.661,0.417-1.273,0.873-1.844,1.357	l0.014-0.187c0,0-8.149-3.213-15.851-2.383c-7.954,0.857-12.319,6.83-12.319,15.83s6.17,30.553,10.17,34.553s6,2,7,1	c0.896-0.896,6.588-7.387,7.771-8.738c2.143,1.4,4.575,1.743,5.983,1.748c-0.184,0.991-1.31,4.988-7.562,5.714	c-2.809,0.447-1.915,2.298,0.128,2.872c2.002,0.563,8.415,1.967,12.335-3.509c-0.052,3.397-0.183,9.771,0.304,15.126	c0.574,6.319,3.983,8.376,6.511,8.713c7.878,1.048,10.628-4.308,11.394-6.702c0.702-2.194,1.839-10.809,2.213-16.588l0.503-0.089	l-0.004,0.05c8.106,1.277,12.734-1.66,14.362-3.191C86.338,61.12,85.349,59.844,83.242,60.482z"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-miterlimit="10"
								stroke-width="2"
								d="M39,58c0,0-6.75,7.562-7.75,8.562s-3,3-7-1	s-10.25-25-10.25-34s4.234-15.518,12.188-16.375C33.89,14.358,42,18,42,18"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-miterlimit="10"
								stroke-width="2"
								d="M71.213,56.947	c2.681-2.106,2.968-8.713,2.489-12.734c-0.479-4.021,0.331-6.392,0.235-11.275C70.682,19.629,53.612,10.839,43.75,17.062	s-8.854,20.137-8.375,24.062s-2.444,6.539-0.625,12.188s7.644,6.698,10.037,6.698c2.394,0,4.883,0.957,4.883,3.543	s-0.287,10.34,0.287,16.66c0.574,6.319,3.983,8.376,6.511,8.713c7.878,1.048,10.628-4.309,11.394-6.702s2.052-12.439,2.298-18.096	c0.191-4.404,3.351-4.309,3.351-4.309s3.608,2.339,9.957,0.415c2.106-0.638,3.096,0.638,1.468,2.17	c-1.628,1.532-6.017,4.56-14.124,3.283"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-miterlimit="10"
								stroke-width="2"
								d="M74.085,33.617c0,0-6.523-2.242-8.71,2.195	c-1.893,3.841,3.987,18.294,8.199,23.592"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-miterlimit="10"
								stroke-width="2"
								d="M34.574,36.617c0,0,7.652-4.612,11.801-1.867	S48.936,48.106,47.149,52c-1.787,3.894-2.362,7.787-2.362,7.787s-0.447,5.106-7.596,5.936c-2.809,0.447-1.915,2.298,0.128,2.872	c2.043,0.574,8.681,2.043,12.574-3.83"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-miterlimit="10"
								stroke-width="2"
								d="M57.617,15.809	c0,0,17.356-4.174,25.383,5.629c6.553,8.003-4.766,33.882-10.191,38.158"
							></path><path
								fill="#1f212b"
								d="M69.154,38.037c-1.652,0.168-3.423-1.939-0.096-2.346C72.177,35.31,71.323,37.817,69.154,38.037z"
							></path><path
								fill="#1f212b"
								d="M43.223,38.848c-1.824-0.23-3.212-2.945,0.481-2.556C47.165,36.657,45.619,39.151,43.223,38.848z"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M39.492,27.447	c-0.236,0.688-0.451,1.425-0.641,2.213"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M47.808,18.479	c-2.789,0.876-5.771,2.939-7.731,7.456"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M55.064,18.298	c0,0-2.11-0.621-4.851-0.319"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M20.148,21.817	c-1.921,2.074-3.369,5.451-3.173,10.945"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M28.319,18.553	c0,0-3.417-0.258-6.503,1.833"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M53.549,82.6	c0.649,1.702,1.858,3.266,4.1,3.613"
							></path><path
								fill="none"
								stroke="#1f212b"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-miterlimit="10"
								d="M52.83,77.596	c0,0-0.095,1.358,0.186,3.001"
							></path>
						</svg>
						Database
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="tech-cards-container">
		{
			technologies.map((technology) => (
				<div
					class={technology.type + " tech-card"}
					style="margin-top: 1.5em; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;"
				>
					<div class="icon-wrapper">
						<h4>{technology.name}</h4>
						<div
							class={technology.class}
							style="margin-left: 8px;"
						/>
					</div>

					<p>{technology.description}</p>
					<a class="job-link" href={technology.link} target="_blank">
						Ver más
					</a>
				</div>
			))
		}
	</div>

	<style>
		#title {
			margin-bottom: 2em !important;
			margin-top: 0 !important;
		}

		@keyframes fadeIn {
			0% {
				opacity: 0;
				transform: translateY(20px);
			}
			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		.tech-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			animation: fadeIn 2s ease-in-out;
		}

		.tech-cards-container {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
		}

		.tech-card {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.tech-card > p {
			margin: 0;
			padding: 0;
			text-align: center;
		}

		.icon-wrapper {
			display: flex;
			flex-direction: row;
		}

		input {
			background: none;
			color: black;
			font-size: 18px;
			padding: 10px 10px 10px 5px;
			display: block;
			width: 100%;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid black;
			&:focus {
				outline: none;
			}
			&:focus ~ label,
			&:valid ~ label {
				top: -14px;
				font-size: 12px;
				color: green;
			}
		}

		label {
			color: black;
			font-size: 16px;
			font-weight: normal;
			position: absolute;
			pointer-events: none;
			left: 5px;
			top: 10px;
		}

		.tech-menu {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 10px;
			margin-bottom: 2em;
		}

		.tech-menu ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
		}

		.tech-menu li {
			margin: 0 10px;
		}

		.tech-menu a {
			text-decoration: none;
			color: #fbf9f1;
			border-radius: 8%;
			background-color: #aad7d9;
			transition: background-color 0.3s ease-in-out;
			padding: 0.8rem;
		}

		.tech-menu a:hover {
			background-color: linear-gradient(var(--gray-gradient)) no-repeat;
			color: var(--black);
		}

		li > a {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		/* Media query para dispositivos móviles */
		@media only screen and (max-width: 500px) {
			.tech-menu {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
			}

			.tech-menu ul {
				list-style: none;
				flex-wrap: wrap;
				justify-content: center;
				gap: 1.4em;
				width: 100%;
			}

			.tech-menu li {
				flex-basis: calc(40%);
			}
		}

		/* Icons */

		.vue-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 221'%3E%3Cpath fill='%2341b883' d='M204.8 0H256L128 220.8L0 0h97.92L128 51.2L157.44 0z'/%3E%3Cpath fill='%2341b883' d='m0 0l128 220.8L256 0h-51.2L128 132.48L50.56 0z'/%3E%3Cpath fill='%2335495e' d='M50.56 0L128 133.12L204.8 0h-47.36L128 51.2L97.92 0z'/%3E%3C/svg%3E");
		}

		.react-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 228'%3E%3Cpath fill='%2300d8ff' d='M210.483 73.824a171.49 171.49 0 0 0-8.24-2.597c.465-1.9.893-3.777 1.273-5.621c6.238-30.281 2.16-54.676-11.769-62.708c-13.355-7.7-35.196.329-57.254 19.526a171.23 171.23 0 0 0-6.375 5.848a155.866 155.866 0 0 0-4.241-3.917C100.759 3.829 77.587-4.822 63.673 3.233C50.33 10.957 46.379 33.89 51.995 62.588a170.974 170.974 0 0 0 1.892 8.48c-3.28.932-6.445 1.924-9.474 2.98C17.309 83.498 0 98.307 0 113.668c0 15.865 18.582 31.778 46.812 41.427a145.52 145.52 0 0 0 6.921 2.165a167.467 167.467 0 0 0-2.01 9.138c-5.354 28.2-1.173 50.591 12.134 58.266c13.744 7.926 36.812-.22 59.273-19.855a145.567 145.567 0 0 0 5.342-4.923a168.064 168.064 0 0 0 6.92 6.314c21.758 18.722 43.246 26.282 56.54 18.586c13.731-7.949 18.194-32.003 12.4-61.268a145.016 145.016 0 0 0-1.535-6.842c1.62-.48 3.21-.974 4.76-1.488c29.348-9.723 48.443-25.443 48.443-41.52c0-15.417-17.868-30.326-45.517-39.844m-6.365 70.984c-1.4.463-2.836.91-4.3 1.345c-3.24-10.257-7.612-21.163-12.963-32.432c5.106-11 9.31-21.767 12.459-31.957c2.619.758 5.16 1.557 7.61 2.4c23.69 8.156 38.14 20.213 38.14 29.504c0 9.896-15.606 22.743-40.946 31.14m-10.514 20.834c2.562 12.94 2.927 24.64 1.23 33.787c-1.524 8.219-4.59 13.698-8.382 15.893c-8.067 4.67-25.32-1.4-43.927-17.412a156.726 156.726 0 0 1-6.437-5.87c7.214-7.889 14.423-17.06 21.459-27.246c12.376-1.098 24.068-2.894 34.671-5.345a134.17 134.17 0 0 1 1.386 6.193M87.276 214.515c-7.882 2.783-14.16 2.863-17.955.675c-8.075-4.657-11.432-22.636-6.853-46.752a156.923 156.923 0 0 1 1.869-8.499c10.486 2.32 22.093 3.988 34.498 4.994c7.084 9.967 14.501 19.128 21.976 27.15a134.668 134.668 0 0 1-4.877 4.492c-9.933 8.682-19.886 14.842-28.658 17.94M50.35 144.747c-12.483-4.267-22.792-9.812-29.858-15.863c-6.35-5.437-9.555-10.836-9.555-15.216c0-9.322 13.897-21.212 37.076-29.293c2.813-.98 5.757-1.905 8.812-2.773c3.204 10.42 7.406 21.315 12.477 32.332c-5.137 11.18-9.399 22.249-12.634 32.792a134.718 134.718 0 0 1-6.318-1.979m12.378-84.26c-4.811-24.587-1.616-43.134 6.425-47.789c8.564-4.958 27.502 2.111 47.463 19.835a144.318 144.318 0 0 1 3.841 3.545c-7.438 7.987-14.787 17.08-21.808 26.988c-12.04 1.116-23.565 2.908-34.161 5.309a160.342 160.342 0 0 1-1.76-7.887m110.427 27.268a347.8 347.8 0 0 0-7.785-12.803c8.168 1.033 15.994 2.404 23.343 4.08c-2.206 7.072-4.956 14.465-8.193 22.045a381.151 381.151 0 0 0-7.365-13.322m-45.032-43.861c5.044 5.465 10.096 11.566 15.065 18.186a322.04 322.04 0 0 0-30.257-.006c4.974-6.559 10.069-12.652 15.192-18.18M82.802 87.83a323.167 323.167 0 0 0-7.227 13.238c-3.184-7.553-5.909-14.98-8.134-22.152c7.304-1.634 15.093-2.97 23.209-3.984a321.524 321.524 0 0 0-7.848 12.897zm8.081 65.352c-8.385-.936-16.291-2.203-23.593-3.793c2.26-7.3 5.045-14.885 8.298-22.6a321.187 321.187 0 0 0 7.257 13.246c2.594 4.48 5.28 8.868 8.038 13.147m37.542 31.03c-5.184-5.592-10.354-11.779-15.403-18.433c4.902.192 9.899.29 14.978.29c5.218 0 10.376-.117 15.453-.343c-4.985 6.774-10.018 12.97-15.028 18.486m52.198-57.817c3.422 7.8 6.306 15.345 8.596 22.52c-7.422 1.694-15.436 3.058-23.88 4.071a382.417 382.417 0 0 0 7.859-13.026a347.403 347.403 0 0 0 7.425-13.565m-16.898 8.101a358.557 358.557 0 0 1-12.281 19.815a329.4 329.4 0 0 1-23.444.823c-7.967 0-15.716-.248-23.178-.732a310.202 310.202 0 0 1-12.513-19.846h.001a307.41 307.41 0 0 1-10.923-20.627a310.278 310.278 0 0 1 10.89-20.637l-.001.001a307.318 307.318 0 0 1 12.413-19.761c7.613-.576 15.42-.876 23.31-.876H128c7.926 0 15.743.303 23.354.883a329.357 329.357 0 0 1 12.335 19.695a358.489 358.489 0 0 1 11.036 20.54a329.472 329.472 0 0 1-11 20.722m22.56-122.124c8.572 4.944 11.906 24.881 6.52 51.026c-.344 1.668-.73 3.367-1.15 5.09c-10.622-2.452-22.155-4.275-34.23-5.408c-7.034-10.017-14.323-19.124-21.64-27.008a160.789 160.789 0 0 1 5.888-5.4c18.9-16.447 36.564-22.941 44.612-18.3M128 90.808c12.625 0 22.86 10.235 22.86 22.86s-10.235 22.86-22.86 22.86s-22.86-10.235-22.86-22.86s10.235-22.86 22.86-22.86'/%3E%3C/svg%3E");
		}

		.angular-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23dd0031' d='M16 2L2.966 6.648l1.988 17.234L16 30l11.046-6.118l1.988-17.234z'/%3E%3Cpath fill='%23c3002f' d='M16 2v3.108v-.014V30l11.046-6.118l1.988-17.234z'/%3E%3Cpath fill='%23fff' d='m16 5.094l-8.148 18.27h3.038l1.638-4.088h6.916l1.638 4.088h3.038zm2.38 11.662h-4.76L16 11.03Z'/%3E%3C/svg%3E");
		}

		.nodejs-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 289'%3E%3Cpath fill='%23539e43' d='M128 288.464c-3.975 0-7.685-1.06-11.13-2.915l-35.247-20.936c-5.3-2.915-2.65-3.975-1.06-4.505c7.155-2.385 8.48-2.915 15.9-7.156c.796-.53 1.856-.265 2.65.265l27.032 16.166c1.06.53 2.385.53 3.18 0l105.74-61.217c1.06-.53 1.59-1.59 1.59-2.915V83.08c0-1.325-.53-2.385-1.59-2.915l-105.74-60.953c-1.06-.53-2.385-.53-3.18 0L20.405 80.166c-1.06.53-1.59 1.855-1.59 2.915v122.17c0 1.06.53 2.385 1.59 2.915l28.887 16.695c15.636 7.95 25.44-1.325 25.44-10.6V93.68c0-1.59 1.326-3.18 3.181-3.18h13.516c1.59 0 3.18 1.325 3.18 3.18v120.58c0 20.936-11.396 33.126-31.272 33.126c-6.095 0-10.865 0-24.38-6.625l-27.827-15.9C4.24 220.885 0 213.465 0 205.515V83.346C0 75.396 4.24 67.976 11.13 64L116.87 2.783c6.625-3.71 15.635-3.71 22.26 0L244.87 64C251.76 67.975 256 75.395 256 83.346v122.17c0 7.95-4.24 15.37-11.13 19.345L139.13 286.08c-3.445 1.59-7.42 2.385-11.13 2.385m32.596-84.009c-46.377 0-55.917-21.2-55.917-39.221c0-1.59 1.325-3.18 3.18-3.18h13.78c1.59 0 2.916 1.06 2.916 2.65c2.12 14.045 8.215 20.936 36.306 20.936c22.261 0 31.802-5.035 31.802-16.96c0-6.891-2.65-11.926-37.367-15.372c-28.886-2.915-46.907-9.275-46.907-32.33c0-21.467 18.02-34.187 48.232-34.187c33.921 0 50.617 11.66 52.737 37.101c0 .795-.265 1.59-.795 2.385c-.53.53-1.325 1.06-2.12 1.06h-13.78c-1.326 0-2.65-1.06-2.916-2.385c-3.18-14.575-11.395-19.345-33.126-19.345c-24.38 0-27.296 8.48-27.296 14.84c0 7.686 3.445 10.07 36.306 14.31c32.597 4.24 47.967 10.336 47.967 33.127c-.265 23.321-19.345 36.571-53.002 36.571'/%3E%3C/svg%3E");
		}

		.azure-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 242'%3E%3Cdefs%3E%3ClinearGradient id='logosMicrosoftAzure0' x1='58.972%25' x2='37.191%25' y1='7.411%25' y2='103.762%25'%3E%3Cstop offset='0%25' stop-color='%23114a8b'/%3E%3Cstop offset='100%25' stop-color='%230669bc'/%3E%3C/linearGradient%3E%3ClinearGradient id='logosMicrosoftAzure1' x1='59.719%25' x2='52.691%25' y1='52.313%25' y2='54.864%25'%3E%3Cstop offset='0%25' stop-opacity='0.3'/%3E%3Cstop offset='7.1%25' stop-opacity='0.2'/%3E%3Cstop offset='32.1%25' stop-opacity='0.1'/%3E%3Cstop offset='62.3%25' stop-opacity='0.05'/%3E%3Cstop offset='100%25' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='logosMicrosoftAzure2' x1='37.279%25' x2='62.473%25' y1='4.6%25' y2='99.979%25'%3E%3Cstop offset='0%25' stop-color='%233ccbf4'/%3E%3Cstop offset='100%25' stop-color='%232892df'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23logosMicrosoftAzure0)' d='M85.343.003h75.753L82.457 233a12.08 12.08 0 0 1-11.442 8.216H12.06A12.06 12.06 0 0 1 .633 225.303L73.898 8.219A12.08 12.08 0 0 1 85.343 0z'/%3E%3Cpath fill='%230078d4' d='M195.423 156.282H75.297a5.56 5.56 0 0 0-3.796 9.627l77.19 72.047a12.14 12.14 0 0 0 8.28 3.26h68.02z'/%3E%3Cpath fill='url(%23logosMicrosoftAzure1)' d='M85.343.003a11.98 11.98 0 0 0-11.471 8.376L.723 225.105a12.045 12.045 0 0 0 11.37 16.112h60.475a12.93 12.93 0 0 0 9.921-8.437l14.588-42.991l52.105 48.6a12.33 12.33 0 0 0 7.757 2.828h67.766l-29.721-84.935l-86.643.02L161.37.003z'/%3E%3Cpath fill='url(%23logosMicrosoftAzure2)' d='M182.098 8.207A12.06 12.06 0 0 0 170.67.003H86.245c5.175 0 9.773 3.301 11.428 8.204L170.94 225.3a12.062 12.062 0 0 1-11.428 15.92h84.429a12.062 12.062 0 0 0 11.425-15.92z'/%3E%3C/svg%3E");
		}

		.express-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23242938' rx='60'/%3E%3Cpath fill='%23fff' d='M228 182.937a12.732 12.732 0 0 1-15.791-6.005c-9.063-13.567-19.071-26.522-28.69-39.755l-4.171-5.56c-11.454 15.346-22.908 30.08-33.361 45.371a12.23 12.23 0 0 1-15.012 5.894l42.98-57.659l-39.978-52.1a13.289 13.289 0 0 1 15.847 5.56c9.285 13.568 19.572 26.523 29.802 40.257c10.287-13.623 20.462-26.634 29.97-40.09a11.952 11.952 0 0 1 14.901-5.56l-15.513 20.573c-6.95 9.174-13.789 18.404-21.017 27.356a5.558 5.558 0 0 0 0 8.285c13.289 17.626 26.466 35.307 40.033 53.433M28 124.5c1.168-5.56 1.89-11.621 3.503-17.292c9.619-34.195 48.818-48.43 75.785-27.245c15.791 12.4 19.739 29.97 18.961 49.764H37.286c-1.446 35.363 24.075 56.714 56.713 45.816a33.864 33.864 0 0 0 21.518-23.965c1.724-5.56 4.504-6.505 9.786-4.893a45.145 45.145 0 0 1-21.573 32.972a52.263 52.263 0 0 1-60.884-7.784a54.767 54.767 0 0 1-13.678-32.138c0-1.89-.723-3.781-1.112-5.56A860.69 860.69 0 0 1 28 124.5m9.397-2.391h80.456c-.501-25.632-16.681-43.814-38.254-43.98c-24.02-.334-41.201 17.458-42.258 43.869z'/%3E%3C/g%3E%3C/svg%3E");
		}

		.nestjs-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 255'%3E%3Cpath fill='%23e0234e' d='M150.736 0c-1.851 0-3.57.397-5.157.926c3.372 2.247 5.223 5.222 6.148 8.594c.067.463.199.794.265 1.256c.066.397.132.794.132 1.19c.265 5.818-1.52 6.545-2.777 9.983c-1.917 4.43-1.388 9.19.926 13.024c.198.463.463.992.793 1.455c-2.512-16.727 11.438-19.239 14.016-24.462c.198-4.561-3.57-7.603-6.545-9.718C155.694.528 153.116 0 150.736 0m21.023 3.768c-.264 1.521-.066 1.124-.132 1.918c-.066.529-.066 1.19-.132 1.719c-.132.528-.264 1.057-.463 1.586c-.132.53-.33 1.058-.528 1.587c-.265.529-.463.992-.728 1.52c-.198.265-.33.53-.529.794l-.396.595c-.33.463-.661.926-.992 1.322c-.397.397-.727.86-1.19 1.19v.066c-.397.331-.793.728-1.256 1.058c-1.388 1.058-2.975 1.851-4.43 2.843c-.462.33-.925.595-1.322.992c-.463.33-.86.66-1.256 1.058c-.463.396-.793.793-1.19 1.256c-.33.396-.727.86-.992 1.322c-.33.463-.66.925-.925 1.388c-.265.53-.463.992-.728 1.52c-.198.53-.396.993-.528 1.521c-.199.595-.331 1.124-.463 1.653c-.066.265-.066.595-.132.86c-.067.264-.067.529-.132.793c0 .529-.067 1.124-.067 1.653c0 .397 0 .793.067 1.19c0 .529.066 1.058.198 1.653c.066.529.198 1.057.33 1.586c.199.53.331 1.058.53 1.587c.131.33.33.661.462.926L139.63 35.04a163.425 163.425 0 0 0-7.669-1.984l-4.165-.991c-3.967-.794-8-1.389-12.032-1.785c-.132 0-.199-.067-.33-.067a118.206 118.206 0 0 0-11.835-.595c-2.909 0-5.818.132-8.66.33c-4.034.265-8.066.794-12.1 1.455c-.991.133-1.983.331-2.974.53c-2.05.396-4.033.859-5.95 1.322l-2.976.793c-.991.397-1.917.86-2.842 1.256l-2.182.992c-.132.066-.265.066-.33.132c-.662.33-1.257.595-1.852.925a3.22 3.22 0 0 0-.463.199c-.727.33-1.454.727-2.049 1.058c-.463.198-.926.462-1.322.66a5.96 5.96 0 0 1-.595.331c-.595.33-1.19.661-1.72.992a16.57 16.57 0 0 0-1.586.992c-.463.33-.925.595-1.322.925c-.066.066-.132.066-.199.132c-.396.265-.859.595-1.256.926l-.132.132l-.991.793c-.133.067-.265.199-.397.265c-.33.264-.661.595-.992.86c-.066.131-.198.198-.264.264c-.397.397-.794.727-1.19 1.124c-.067 0-.067.066-.132.132c-.397.33-.794.727-1.19 1.124c-.067.066-.067.132-.133.132c-.33.33-.66.661-.991 1.058c-.132.132-.33.264-.463.396c-.33.397-.727.794-1.124 1.19c-.066.133-.198.199-.265.331c-.528.529-.991 1.058-1.52 1.587l-.198.198c-1.058 1.124-2.182 2.248-3.372 3.24a37.581 37.581 0 0 1-3.703 2.909a49.985 49.985 0 0 1-3.966 2.512a40.292 40.292 0 0 1-4.165 1.983a47.626 47.626 0 0 1-4.298 1.587c-2.776.595-5.62 1.719-8.065 1.917c-.53 0-1.124.132-1.653.198a66.66 66.66 0 0 0-1.653.397l-1.587.595c-.529.198-1.057.463-1.586.727c-.463.33-.992.595-1.455.926c-.463.33-.925.727-1.322 1.124c-.463.33-.926.793-1.322 1.19c-.397.463-.794.86-1.124 1.322c-.33.529-.727.992-.992 1.52c-.33.464-.661.992-.926 1.521c-.264.595-.528 1.124-.727 1.72a50.953 50.953 0 0 0-.595 1.718c-.132.529-.264 1.058-.33 1.587c0 .066-.067.132-.067.198c-.132.595-.132 1.389-.198 1.785c-.066.463-.132.86-.132 1.322c0 .265 0 .595.066.86c.066.463.132.86.265 1.256c.132.397.264.793.463 1.19v.066c.198.397.462.794.727 1.19c.264.397.529.794.86 1.19c.33.33.726.728 1.123 1.058c.397.397.794.727 1.256 1.058c1.587 1.388 1.984 1.851 4.033 2.909c.33.198.661.33 1.058.529c.066 0 .132.066.198.066c0 .132 0 .198.067.33c.066.53.198 1.058.33 1.587c.132.595.33 1.124.529 1.587c.198.397.33.793.529 1.19c.066.132.132.265.198.33c.265.53.53.992.794 1.455l.991 1.388c.33.397.727.86 1.124 1.257c.397.396.794.727 1.256 1.123c0 0 .067.067.132.067c.397.33.794.66 1.19.925c.463.33.926.595 1.455.86c.463.264.992.529 1.52.727c.397.198.86.33 1.323.463c.066.066.132.066.264.132c.265.066.595.132.86.198c-.199 3.57-.265 6.942.264 8.132c.595 1.322 3.504-2.71 6.413-7.338c-.396 4.561-.66 9.916 0 11.503c.727 1.653 4.694-3.504 8.132-9.19c46.874-10.842 89.648 21.553 94.144 67.303c-.86-7.14-9.652-11.107-13.685-10.115c-1.984 4.892-5.355 11.173-10.776 15.073c.462-4.363.264-8.859-.662-13.222c-1.454 6.082-4.297 11.768-8.198 16.66c-6.28.463-12.56-2.578-15.867-7.14c-.264-.198-.33-.595-.528-.86c-.199-.462-.397-.925-.53-1.388a5.488 5.488 0 0 1-.396-1.388c-.066-.463-.066-.926-.066-1.455v-.991c.066-.463.198-.926.33-1.389c.132-.462.265-.925.463-1.388c.265-.463.463-.926.793-1.388c1.124-3.174 1.124-5.752-.925-7.273a7.53 7.53 0 0 0-1.256-.66c-.265-.067-.595-.2-.86-.265c-.198-.067-.33-.133-.529-.199c-.462-.132-.925-.264-1.388-.33a5.037 5.037 0 0 0-1.388-.199c-.463-.066-.992-.132-1.455-.132c-.33 0-.66.066-.992.066c-.528 0-.991.067-1.454.199c-.463.066-.926.132-1.388.264c-.463.132-.926.265-1.389.463c-.462.198-.86.397-1.322.595c-.397.198-.793.463-1.256.661c-15.404 10.05-6.215 33.585 4.297 40.395c-3.967.727-8 1.587-9.123 2.446l-.132.132c2.842 1.72 5.817 3.174 8.925 4.43c4.231 1.388 8.727 2.644 10.71 3.173v.066a63.96 63.96 0 0 0 16.66 1.19c29.288-2.05 53.287-24.329 57.65-53.683c.132.595.265 1.124.397 1.719c.198 1.19.463 2.446.595 3.702v.067c.132.595.198 1.19.265 1.719v.264c.066.595.132 1.19.132 1.719c.066.727.132 1.454.132 2.182v1.057c0 .331.066.728.066 1.058c0 .397-.066.794-.066 1.19v.926c0 .463-.066.86-.066 1.322c0 .265 0 .529-.067.86c0 .462-.066.925-.066 1.454c-.066.198-.066.397-.066.595c-.066.529-.132.992-.199 1.52c0 .199 0 .397-.066.596c-.066.66-.198 1.256-.264 1.917v.132c-.132.595-.265 1.257-.397 1.852v.198l-.397 1.785c0 .066-.066.198-.066.264c-.132.595-.264 1.19-.463 1.786v.198c-.198.661-.396 1.256-.528 1.851c-.067.066-.067.132-.067.132l-.595 1.983c-.264.662-.462 1.257-.727 1.918c-.264.66-.463 1.322-.727 1.917c-.265.661-.53 1.256-.793 1.917h-.067c-.264.595-.529 1.256-.86 1.851a3.22 3.22 0 0 1-.198.463c-.066.067-.066.132-.132.199c-4.297 8.66-10.644 16.263-18.577 22.213c-.53.33-1.058.728-1.587 1.124c-.132.132-.33.199-.463.33c-.463.331-.925.662-1.454.992l.198.397h.066l2.777-.397h.066c1.72-.264 3.438-.595 5.157-.925c.463-.066.992-.198 1.454-.33c.331-.067.595-.133.926-.199c.463-.066.926-.198 1.388-.265c.397-.132.794-.198 1.19-.33c6.612-1.587 13.025-3.769 19.173-6.347c-10.512 14.346-24.594 25.916-41.056 33.519c7.603-.529 15.206-1.785 22.545-3.9c26.643-7.868 49.055-25.784 62.476-49.915a105.527 105.527 0 0 1-17.785 42.51a104.082 104.082 0 0 0 17.652-14.677c14.81-15.47 24.528-35.106 27.834-56.196a105.277 105.277 0 0 1 1.917 31.867c47.733-66.576 3.967-135.597-14.346-153.778c-.067-.132-.132-.198-.132-.33c-.067.066-.067.066-.067.132c0-.067 0-.067-.066-.132c0 .793-.066 1.586-.132 2.38c-.198 1.52-.397 2.975-.661 4.43c-.33 1.454-.727 2.908-1.124 4.363a54.989 54.989 0 0 1-1.587 4.23a56.872 56.872 0 0 1-1.983 4.034c-.727 1.256-1.52 2.578-2.38 3.768a50.509 50.509 0 0 1-2.71 3.57c-.993 1.19-2.05 2.248-3.108 3.306a42.608 42.608 0 0 1-1.917 1.652c-.53.463-.992.86-1.521 1.323c-1.19.925-2.38 1.785-3.702 2.578c-1.256.793-2.579 1.587-3.9 2.248c-1.39.661-2.778 1.256-4.166 1.851a46.553 46.553 0 0 1-4.297 1.388a53.252 53.252 0 0 1-4.43.992c-1.52.265-3.04.397-4.495.529c-1.058.066-2.116.132-3.174.132c-1.52 0-3.041-.132-4.495-.264c-1.521-.133-3.042-.331-4.496-.662c-1.52-.264-2.975-.66-4.43-1.123h-.066c1.455-.133 2.91-.265 4.364-.53a47.921 47.921 0 0 0 4.43-.991a46.546 46.546 0 0 0 4.296-1.388c1.455-.53 2.843-1.19 4.166-1.852c1.388-.66 2.644-1.388 3.966-2.181c1.256-.86 2.513-1.72 3.703-2.645a36.15 36.15 0 0 0 3.371-2.975c1.124-.992 2.116-2.115 3.108-3.24a65.335 65.335 0 0 0 2.776-3.57c.132-.198.265-.462.397-.66c.661-1.058 1.322-2.116 1.917-3.174a45.566 45.566 0 0 0 1.984-4.033a46.326 46.326 0 0 0 1.586-4.23c.463-1.39.794-2.844 1.124-4.298c.265-1.52.53-2.975.661-4.43c.132-1.52.265-3.04.265-4.495c0-1.058-.066-2.116-.132-3.174c-.132-1.52-.33-2.975-.53-4.43a47.926 47.926 0 0 0-.99-4.429c-.464-1.388-.926-2.843-1.455-4.231c-.53-1.388-1.19-2.777-1.851-4.099c-.728-1.322-1.455-2.645-2.248-3.9a72.995 72.995 0 0 0-2.645-3.637a139.879 139.879 0 0 0-3.041-3.372a41.356 41.356 0 0 0-1.719-1.652a121.727 121.727 0 0 0-9.19-6.48a12.31 12.31 0 0 0-1.322-.66c-2.181-1.389-4.23-2.116-6.28-2.777z'/%3E%3C/svg%3E");
		}

		.git-icon {
			display: inline-block;
			width: 2em;
			height: 2em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 108'%3E%3Cpath fill='%232f2707' d='M152.984 37.214c-5.597 0-9.765 2.748-9.765 9.362c0 4.983 2.747 8.443 9.463 8.443c5.693 0 9.56-3.355 9.56-8.65c0-6-3.46-9.155-9.258-9.155m-11.19 46.701c-1.325 1.625-2.645 3.353-2.645 5.39c0 4.067 5.186 5.291 12.31 5.291c5.9 0 13.938-.414 13.938-5.9c0-3.261-3.867-3.462-8.753-3.768zm30.113-46.394c1.828 2.34 3.764 5.597 3.764 10.276c0 11.292-8.851 17.904-21.667 17.904c-3.259 0-6.209-.406-8.038-.914l-3.359 5.39l9.969.61c17.602 1.122 27.975 1.632 27.975 15.157c0 11.702-10.272 18.311-27.975 18.311c-18.413 0-25.433-4.68-25.433-12.716c0-4.578 2.035-7.015 5.596-10.378c-3.358-1.419-4.476-3.961-4.476-6.71c0-2.24 1.118-4.273 2.952-6.208c1.83-1.93 3.864-3.865 6.306-6.103c-4.984-2.442-8.75-7.732-8.75-15.262c0-11.697 7.733-19.731 23.295-19.731c4.376 0 7.022.402 9.362 1.017h19.84v8.644zm27.259-18.487c-5.8 0-9.157-3.36-9.157-9.161c0-5.793 3.356-8.95 9.157-8.95c5.9 0 9.258 3.157 9.258 8.95c0 5.801-3.357 9.161-9.258 9.161M186.04 80.171v-8.033l5.19-.71c1.425-.205 1.627-.509 1.627-2.038V39.48c0-1.116-.304-1.832-1.325-2.134l-5.492-1.935l1.118-8.238h21.061V69.39c0 1.63.098 1.833 1.629 2.039l5.188.71v8.032zm69.227-3.944c-4.376 2.135-10.785 4.068-16.586 4.068c-12.106 0-16.682-4.878-16.682-16.38V37.264c0-.61 0-1.017-.817-1.017h-7.12V27.19c8.955-1.02 12.513-5.496 13.632-16.585h9.666v14.45c0 .71 0 1.017.815 1.017h14.343v10.173H237.36v24.313c0 6.002 1.426 8.34 6.917 8.34c2.852 0 5.799-.71 8.24-1.626z'/%3E%3Cpath fill='%23de4c36' d='M104.529 49.53L58.013 3.017a6.86 6.86 0 0 0-9.703 0l-9.659 9.66l12.253 12.252a8.145 8.145 0 0 1 8.383 1.953a8.157 8.157 0 0 1 1.936 8.434L73.03 47.125c2.857-.984 6.154-.347 8.435 1.938a8.161 8.161 0 0 1 0 11.545a8.164 8.164 0 0 1-13.324-8.88L57.129 40.716l-.001 28.98a8.248 8.248 0 0 1 2.159 1.544a8.164 8.164 0 0 1 0 11.547c-3.19 3.19-8.36 3.19-11.545 0a8.164 8.164 0 0 1 2.672-13.328v-29.25a8.064 8.064 0 0 1-2.672-1.782c-2.416-2.413-2.997-5.958-1.759-8.925l-12.078-12.08L2.011 49.314a6.863 6.863 0 0 0 0 9.706l46.516 46.514a6.862 6.862 0 0 0 9.703 0l46.299-46.297a6.866 6.866 0 0 0 0-9.707'/%3E%3C/svg%3E");
		}

		.github-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
			background-color: currentColor;
			-webkit-mask-image: var(--svg);
			mask-image: var(--svg);
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-size: 100% 100%;
			mask-size: 100% 100%;
		}

		.mysql-icon {
			display: inline-block;
			width: 2em;
			height: 2em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 349'%3E%3Cpath fill='%2300758f' d='m152.31 230.297l15.56 50.487c3.496 11.463 4.954 19.465 4.37 24.026c8.51-22.792 14.456-47.63 17.839-74.513h18.71c-8.045 43.766-18.656 75.57-31.827 95.41c-10.262 15.289-21.504 22.933-33.746 22.933c-3.264 0-7.288-.986-12.063-2.944v-10.55c2.333.342 5.07.525 8.218.525c5.711 0 10.314-1.583 13.816-4.742c4.193-3.849 6.292-8.175 6.292-12.97c0-3.274-1.637-9.993-4.896-20.157l-21.68-67.505zM33.223 199.266l28.5 86.956h.176l28.675-86.956h23.428c5.13 43.124 8.16 82.581 9.09 118.346H103.34c-.695-33.433-2.62-64.871-5.768-94.32H97.4l-30.078 94.32H52.28l-29.896-94.32h-.176c-2.218 28.282-3.614 59.72-4.196 94.32H0c1.164-42.08 4.077-81.525 8.739-118.346z'/%3E%3Cpath fill='%23f29111' d='M352.498 197.51c30.657 0 45.986 19.586 45.986 58.739c0 21.276-4.61 37.347-13.821 48.204c-1.66 1.984-3.495 3.698-5.427 5.286l21.695 10.727l-.021-.001l-7.703 13.302l-28.253-16.485c-4.683 1.387-9.836 2.08-15.451 2.08c-15.053 0-26.297-4.387-33.731-13.15c-8.16-9.694-12.238-24.955-12.238-45.757c0-21.156 4.602-37.166 13.816-48.037c8.392-9.944 20.11-14.909 35.148-14.909m-93.88.172c10.957 0 20.92 2.932 29.894 8.775l-4.558 10.157c-7.679-3.264-15.25-4.903-22.716-4.903c-6.058 0-10.726 1.458-13.98 4.392c-3.272 2.908-5.296 6.65-5.296 11.212c0 7.01 4.994 13.089 14.215 18.225a816.32 816.32 0 0 1 9.031 5.011l.688.387l.345.194l.689.387l.344.194l.688.388c6.98 3.935 13.548 7.691 13.548 7.691c9.22 6.545 13.816 13.523 13.816 25.016c0 10.037-3.678 18.276-11.01 24.723c-7.337 6.418-17.194 9.636-29.538 9.636c-11.545 0-22.734-3.704-33.572-11.05l5.07-10.166c9.327 4.675 17.767 7.01 25.346 7.01c7.108 0 12.672-1.587 16.697-4.721c4.017-3.157 6.424-7.56 6.424-13.143c0-7.027-4.888-13.034-13.855-18.073a897.982 897.982 0 0 1-8.395-4.697l-.687-.389c-1.262-.713-2.533-1.435-3.778-2.142l-.675-.384c-6.055-3.444-11.29-6.453-11.29-6.453c-8.964-6.557-13.459-13.592-13.459-25.184c0-9.587 3.352-17.336 10.046-23.231c6.71-5.908 15.367-8.862 25.968-8.862m175.895 1.584v103.788h37.238v14.558h-56.124V199.266zm57.93 103.833v2.46h-4.094v12.04h-3.13v-12.04h-4.253v-2.46zm7.56 0l3.931 9.884l3.611-9.884h4.437v14.5h-2.95v-11.035l-4.11 11.035h-2.127l-4.117-11.035h-.158v11.035h-2.791v-14.5zM350.57 212.064c-18.066 0-27.104 14.91-27.104 44.71c0 17.07 2.395 29.448 7.176 37.163c4.428 7.14 11.363 10.703 20.806 10.703c18.066 0 27.103-15.026 27.103-45.064c0-16.831-2.395-29.103-7.17-36.822c-4.433-7.124-11.365-10.69-20.81-10.69'/%3E%3Cpath fill='%2300758f' d='M303.218 7.333c5.993-14.726 26.948-3.574 35.08 1.57c1.993 1.287 4.279 4.006 6.564 5.011c3.565.14 7.127.419 10.698.568c6.698 1.574 12.972 2.86 18.25 5.866c24.528 14.445 40.495 29.165 55.19 53.479c3.14 5.15 4.709 10.723 7.274 16.296c3.56 8.307 7.56 17.027 11.692 24.882c1.85 3.724 3.281 7.865 5.85 11.01c1.003 1.438 3.852 1.862 5.555 2.721c4.708 2.437 10.412 4.287 14.84 7.147c8.269 5.156 16.264 11.3 23.532 17.59c2.709 2.428 4.555 5.865 7.136 8.433v1.296c-2.291.703-4.574 1.423-6.859 2c-4.991 1.282-9.412.992-14.254 2.275c-2.992.868-6.707 2.013-9.845 2.304l.29.292c1.846 5.275 11.834 9.565 16.402 12.72c5.548 4.004 10.689 8.86 14.827 14.437c1.429 1.423 2.858 2.718 4.28 4.137c.994 1.438 1.274 3.298 2.28 4.58v.434c-1.114-.393-1.915-1.143-2.674-1.927l-.453-.473c-.453-.47-.91-.932-1.431-1.313c-3.148-2.15-6.274-4.722-9.422-6.721c-5.412-3.434-11.689-5.427-17.246-8.874c-3.142-2.001-6.137-4.28-9.132-6.57c-2.715-2.007-5.705-5.861-7.411-8.721c-1.005-1.58-1.143-3.437-2.291-4.58c.205-1.909 1.954-2.476 3.719-2.942l.406-.107c.609-.158 1.205-.316 1.725-.525c7.414-3.148 16.253-4.29 27.667-4.004c-.43-2.866-7.562-6.437-9.839-8.153c-4.57-3.294-9.409-6.731-14.257-9.729c-2.569-1.57-6.996-2.716-9.842-3.999c-3.851-1.574-12.41-3.147-14.544-6.145c-3.625-4.726-6.229-10.363-8.757-16.057l-.688-1.554a803.85 803.85 0 0 0-.69-1.553c-2.988-6.857-6.7-14.006-9.695-21.027c-1.566-3.425-2.285-6.431-4-9.716c-10.407-20.158-25.81-37.035-44.485-48.904c-6.137-3.862-12.98-7.436-20.534-9.865c-4.281-1.293-9.419-.578-13.98-1.57h-3.002c-2.562-.722-4.701-3.438-6.7-4.87c-4.415-2.998-8.837-5.011-14.117-7.15c-1.85-.858-7.133-2.856-8.977-1.283c-1.142.287-1.721.718-2.002 1.864c-1.136 1.71-.137 4.286.57 5.863c2.142 4.57 5.134 7.286 7.85 11.148c2.416 3.425 5.417 7.287 7.13 11.011c3.696 8.005 5.417 16.874 8.842 24.878c1.27 3.01 3.279 6.435 5.128 9.15c1.567 2.155 4.416 3.713 5.278 6.441c1.718 2.86-2.572 12.297-3.565 15.294c-3.715 11.727-2.995 28.028 1.283 38.193l.228.536l.228.543c1.562 3.723 3.234 7.732 7.387 8.773c.286-.284 0-.135.567-.284c1.005-7.868 1.288-15.445 4-21.601c1.567-3.849 4.696-6.57 6.841-9.712c1.43.856 1.43 3.437 2.282 5.145c1.856 4.43 3.849 9.287 6.137 13.73c4.696 9.15 9.98 18.021 15.967 26.025c2.005 2.859 4.85 6.006 7.416 8.581c1.143.997 2.423 1.573 3.282 2.856h.28v.432c-4.278-1.577-6.99-6.003-10.402-8.587c-6.424-4.857-14.117-12.151-18.545-19.15c-1.852-4.018-3.854-7.869-5.85-11.867v-.289c-.853 1.142-.567 2.276-.994 4.004c-1.852 7.145-.426 15.296-6.843 17.866c-7.274 3.01-12.7-4.857-14.977-8.432c-7.276-11.866-9.269-31.884-4.138-48.043c1.14-3.577 1.295-7.867 3.285-10.723c-.43-2.582-2.42-3.288-3.571-4.87c-1.996-2.704-3.705-5.854-5.268-8.857c-3.002-5.866-5.138-12.875-7.417-19.166c-1.002-2.569-1.289-5.148-2.288-7.58c-1.704-3.712-4.845-7.436-7.268-10.72c-3.281-4.72-12.837-13.868-8.985-23.168m46.772 28.015c.381.382.841.716 1.317 1.045l.574.394c.765.53 1.506 1.088 1.96 1.848c.72 1.006.854 1.999 1.716 3.007c0 3.437-.996 5.722-3.007 7.146c0 0-.137.15-.278.29c-1.14-2.291-2.139-4.57-3.287-6.859c-1.414-1.998-3.413-3.583-4.565-5.866h-.277v-.287c1.721-.425 3.428-.718 5.847-.718'/%3E%3C/svg%3E");
		}

		.postgresql-icon {
			display: inline-block;
			width: 2em;
			height: 2em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath d='M85.988 76.075c.632-5.262.443-6.034 4.362-5.182l.995.088c3.014.137 6.957-.485 9.272-1.561c4.986-2.313 7.942-6.177 3.026-5.162c-11.215 2.313-11.986-1.483-11.986-1.483C103.5 45.204 108.451 22.9 104.178 17.44C92.524 2.548 72.35 9.59 72.012 9.773l-.108.021c-2.216-.461-4.695-.735-7.481-.78c-5.075-.083-8.926 1.331-11.847 3.546c0 0-35.989-14.827-34.315 18.646c.356 7.121 10.207 53.882 21.956 39.758c4.294-5.164 8.444-9.531 8.444-9.531c2.061 1.369 4.528 2.067 7.116 1.816l.2-.17c-.062.641-.035 1.268.081 2.01c-3.027 3.383-2.137 3.977-8.189 5.222c-6.122 1.262-2.525 3.508-.178 4.095c2.848.713 9.433 1.722 13.884-4.509l-.177.711c1.188.95 1.107 6.827 1.275 11.026s.45 8.117 1.306 10.429c.856 2.31 1.866 8.261 9.819 6.557c6.646-1.426 11.727-3.476 12.19-22.545'/%3E%3Cpath d='M71.208 102.77c-3.518 0-5.808-1.36-7.2-2.674c-2.1-1.981-2.933-4.534-3.43-6.059l-.215-.637c-1.002-2.705-1.341-6.599-1.542-11.613a199 199 0 0 1-.075-2.352c-.017-.601-.038-1.355-.068-2.146a15.2 15.2 0 0 1-3.997 1.264c-2.48.424-5.146.286-7.926-.409c-1.961-.49-3.999-1.506-5.16-3.076c-3.385 2.965-6.614 2.562-8.373 1.976c-3.103-1.035-5.88-3.942-8.491-8.89c-1.859-3.523-3.658-8.115-5.347-13.646c-2.94-9.633-4.808-19.779-4.974-23.109c-.522-10.427 2.284-17.883 8.34-22.16c9.555-6.749 24.03-2.781 29.307-.979c3.545-2.137 7.716-3.178 12.43-3.102c2.532.041 4.942.264 7.181.662c2.335-.734 6.949-1.788 12.23-1.723c9.73.116 17.793 3.908 23.316 10.966c3.941 5.036 1.993 15.61.48 21.466c-2.127 8.235-5.856 16.996-10.436 24.622c1.244.009 3.045-.141 5.607-.669c5.054-1.044 6.531 1.666 6.932 2.879c1.607 4.867-5.378 8.544-7.557 9.555c-2.792 1.297-7.343 2.086-11.071 1.915l-.163-.011l-.979-.086l-.097.816l-.093.799c-.25 9.664-1.631 15.784-4.472 19.829c-2.977 4.239-7.116 5.428-10.761 6.209a16 16 0 0 1-3.396.383m-7.402-35.174c2.271 1.817 2.47 5.236 2.647 11.626c.022.797.043 1.552.071 2.257c.086 2.134.287 7.132 1.069 9.244c.111.298.21.602.314.922c.872 2.672 1.31 4.011 5.081 3.203c3.167-.678 4.794-1.287 6.068-3.101c1.852-2.638 2.888-7.941 3.078-15.767l3.852.094l-3.826-.459l.112-.955c.367-3.148.631-5.424 2.736-6.928c1.688-1.207 3.613-1.09 5.146-.814c-1.684-1.271-2.15-2.765-2.274-3.377l-.321-1.582l.902-1.34c5.2-7.716 9.489-17.199 11.767-26.018c2.34-9.062 1.626-13.875.913-14.785c-9.446-12.071-25.829-7.088-27.539-6.521l-.29.156l-1.45.271l-.743-.154c-2.047-.425-4.321-.66-6.76-.7c-3.831-.064-6.921.841-9.455 2.764l-1.758 1.333l-2.041-.841c-4.358-1.782-17.162-5.365-23.918-.58c-3.75 2.656-5.458 7.861-5.078 15.47c.125 2.512 1.833 12.021 4.647 21.245c3.891 12.746 7.427 16.979 8.903 17.472c.257.087.926-.433 1.591-1.231c4.326-5.203 8.44-9.54 8.613-9.723l2.231-2.347l2.697 1.792c1.087.723 2.286 1.132 3.518 1.209l6.433-5.486l-.932 9.51c-.021.214-.031.504.053 1.044l.28 1.803l-1.213 1.358l-.14.157l3.534 1.632z'/%3E%3Cpath fill='%23336791' d='M103.646 64.258c-11.216 2.313-11.987-1.484-11.987-1.484c11.842-17.571 16.792-39.876 12.52-45.335C92.524 2.547 72.35 9.59 72.013 9.773l-.109.019c-2.216-.459-4.695-.733-7.482-.778c-5.075-.083-8.925 1.33-11.846 3.545c0 0-35.99-14.826-34.316 18.647c.356 7.121 10.207 53.882 21.956 39.758c4.294-5.164 8.443-9.531 8.443-9.531c2.061 1.369 4.528 2.067 7.115 1.816l.201-.17c-.062.641-.034 1.268.08 2.01c-3.026 3.383-2.138 3.977-8.188 5.222c-6.123 1.262-2.526 3.508-.177 4.095c2.847.713 9.433 1.722 13.883-4.509l-.178.711c1.186.95 2.019 6.179 1.879 10.919s-.233 7.994.702 10.536s1.866 8.261 9.82 6.557c6.646-1.425 10.09-5.116 10.57-11.272c.34-4.377 1.109-3.73 1.158-7.644l.618-1.853c.711-5.934.113-7.848 4.208-6.957l.995.087c3.014.138 6.958-.485 9.273-1.561c4.986-2.314 7.943-6.177 3.028-5.162'/%3E%3Cpath fill='%23fff' d='M71.61 100.394c-6.631.001-8.731-5.25-9.591-7.397c-1.257-3.146-1.529-15.358-1.249-25.373a1.286 1.286 0 0 1 2.57.072c-.323 11.551.136 22.018 1.066 24.346c1.453 3.632 3.656 6.809 9.887 5.475c5.915-1.269 8.13-3.512 9.116-9.23c.758-4.389 2.254-16.874 2.438-19.338a1.285 1.285 0 0 1 2.563.191c-.192 2.564-1.682 15.026-2.469 19.584c-1.165 6.755-4.176 9.819-11.11 11.306a15.5 15.5 0 0 1-3.221.364M35.659 74.749a5.3 5.3 0 0 1-1.704-.281c-4.307-1.437-8.409-8.451-12.193-20.849c-2.88-9.438-4.705-19.288-4.865-22.489c-.475-9.49 1.97-16.205 7.265-19.957c10.476-7.423 28.1-.354 28.845-.05a1.285 1.285 0 0 1-.972 2.379v.001c-.17-.07-17.07-6.84-26.392-.229c-4.528 3.211-6.607 9.175-6.18 17.729c.135 2.696 1.84 12.311 4.757 21.867c3.378 11.067 7.223 18.052 10.548 19.16c.521.175 2.109.704 4.381-2.026c4.272-5.14 8.197-9.242 8.236-9.283a1.286 1.286 0 0 1 1.856 1.778c-.039.04-3.904 4.081-8.116 9.148c-1.995 2.398-3.908 3.102-5.466 3.102m55.92-10.829a1.284 1.284 0 0 1-1.065-2.004c11.971-17.764 16.173-39.227 12.574-43.825c-4.53-5.788-10.927-8.812-19.012-8.985c-5.987-.13-10.746 1.399-11.523 1.666l-.195.079c-.782.246-1.382-.183-1.608-.684a1.29 1.29 0 0 1 .508-1.631l.346-.142l-.017.005l.018-.006c1.321-.483 6.152-1.933 12.137-1.864c8.947.094 16.337 3.545 21.371 9.977c2.382 3.044 2.387 10.057.015 19.24c-2.418 9.362-6.968 19.425-12.482 27.607a1.28 1.28 0 0 1-1.067.567m.611 8.223c-2.044 0-3.876-.287-4.973-.945c-1.128-.675-1.343-1.594-1.371-2.081c-.308-5.404 2.674-6.345 4.195-6.774c-.212-.32-.514-.697-.825-1.086c-.887-1.108-2.101-2.626-3.037-4.896c-.146-.354-.606-1.179-1.138-2.133c-2.883-5.169-8.881-15.926-5.028-21.435c1.784-2.549 5.334-3.552 10.566-2.992c-1.539-4.689-8.869-19.358-26.259-19.643c-5.231-.088-9.521 1.521-12.744 4.775c-7.217 7.289-6.955 20.477-6.952 20.608a1.284 1.284 0 1 1-2.569.067c-.016-.585-.286-14.424 7.695-22.484c3.735-3.772 8.651-5.634 14.612-5.537C75.49 7.77 82.651 13.426 86.7 18.14c4.412 5.136 6.576 10.802 6.754 12.692c.133 1.406-.876 1.688-1.08 1.729l-.463.011c-5.135-.822-8.429-.252-9.791 1.695c-2.931 4.188 2.743 14.363 5.166 18.709c.619 1.108 1.065 1.909 1.269 2.404c.796 1.93 1.834 3.227 2.668 4.269c.733.917 1.369 1.711 1.597 2.645c.105.185 1.603 2.399 10.488.565c2.227-.459 3.562-.066 3.97 1.168c.803 2.429-3.702 5.261-6.196 6.42c-2.238 1.039-5.805 1.696-8.892 1.696m-3.781-3.238c.281.285 1.691.775 4.612.65c2.596-.112 5.335-.677 6.979-1.439c2.102-.976 3.504-2.067 4.231-2.812l-.404.074c-5.681 1.173-9.699 1.017-11.942-.465a5 5 0 0 1-.435-.323c-.243.096-.468.159-.628.204c-1.273.357-2.589.726-2.413 4.111m-36.697 7.179c-1.411 0-2.896-.191-4.413-.572c-1.571-.393-4.221-1.576-4.18-3.519c.045-2.181 3.216-2.835 4.411-3.081c4.312-.888 4.593-1.244 5.941-2.955c.393-.499.882-1.12 1.548-1.865c.99-1.107 2.072-1.669 3.216-1.669c.796 0 1.45.271 1.881.449c1.376.57 2.524 1.948 2.996 3.598c.426 1.488.223 2.92-.572 4.032c-2.608 3.653-6.352 5.582-10.828 5.582m-5.817-3.98c.388.299 1.164.699 2.027.916c1.314.328 2.588.495 3.79.495c3.662 0 6.601-1.517 8.737-4.506c.445-.624.312-1.415.193-1.832c-.25-.872-.87-1.665-1.509-1.931c-.347-.144-.634-.254-.898-.254c-.142 0-.573 0-1.3.813c-.614.686-1.055 1.246-1.446 1.741c-1.678 2.131-2.447 2.854-7.441 3.883c-1.218.252-1.843.506-2.153.675m9.882-5.928a1.286 1.286 0 0 1-1.269-1.09a6 6 0 0 1-.064-.644c-3.274-.062-6.432-1.466-8.829-3.968c-3.031-3.163-4.411-7.545-3.785-12.022c.68-4.862.426-9.154.289-11.46a26 26 0 0 1-.063-1.425c.002-.406.01-1.485 3.615-3.312c1.282-.65 3.853-1.784 6.661-2.075c4.654-.48 7.721 1.592 8.639 5.836c2.478 11.46.196 16.529-1.47 20.23c-.311.688-.604 1.34-.838 1.97l-.207.557c-.88 2.36-1.641 4.399-1.407 5.923a1.287 1.287 0 0 1-1.075 1.466zM44.634 35.922l.051.918c.142 2.395.406 6.853-.31 11.969c-.516 3.692.612 7.297 3.095 9.888c1.962 2.048 4.546 3.178 7.201 3.178h.055c.298-1.253.791-2.575 1.322-4l.206-.553c.265-.712.575-1.401.903-2.13c1.604-3.564 3.6-8 1.301-18.633c-.456-2.105-1.56-3.324-3.375-3.726c-3.728-.824-9.283 1.98-10.449 3.089m7.756-.545c-.064.454.833 1.667 2.001 1.829c1.167.163 2.166-.785 2.229-1.239s-.833-.955-2.002-1.118c-1.167-.163-2.166.073-2.228.528m2.27 2.277l-.328-.023c-.725-.101-1.458-.558-1.959-1.223c-.176-.233-.464-.687-.407-1.091c.082-.593.804-.947 1.933-.947q.381 0 .78.055c.616.086 1.189.264 1.612.5c.733.41.787.866.754 1.103c-.091.653-1.133 1.626-2.385 1.626m-1.844-2.201c.037.28.73 1.205 1.634 1.33l.209.015c.834 0 1.458-.657 1.531-.872c-.077-.146-.613-.511-1.631-.651a5 5 0 0 0-.661-.048c-.652-.001-1.001.146-1.082.226m35.121-1.003c.063.455-.832 1.668-2.001 1.83c-1.168.162-2.167-.785-2.231-1.24c-.062-.454.834-.955 2.002-1.117c1.168-.164 2.166.074 2.23.527m-2.27 2.062c-1.125 0-2.094-.875-2.174-1.442c-.092-.681 1.029-1.199 2.185-1.359q.383-.054.749-.054c.997 0 1.657.293 1.723.764c.043.306-.191.777-.595 1.201c-.266.28-.826.765-1.588.87zm.759-2.427q-.336 0-.69.049c-1.162.161-1.853.628-1.82.878c.039.274.78 1.072 1.75 1.072l.239-.017c.634-.089 1.11-.502 1.337-.741c.356-.375.498-.727.481-.848c-.021-.157-.449-.393-1.297-.393m3.194 26.453a1.285 1.285 0 0 1-1.067-2c2.736-4.087 2.235-8.256 1.751-12.286c-.207-1.718-.42-3.493-.364-5.198c.056-1.753.278-3.199.494-4.599c.255-1.657.496-3.224.396-5.082a1.286 1.286 0 0 1 2.567-.138c.114 2.124-.159 3.896-.423 5.611c-.204 1.323-.415 2.691-.466 4.29c-.049 1.509.144 3.112.348 4.808c.516 4.287 1.099 9.146-2.167 14.023c-.248.37-.655.571-1.069.571'/%3E%3Cpath d='M2.835 103.184a26 26 0 0 1 4.343-.338c2.235 0 3.874.52 4.914 1.456c.962.832 1.534 2.106 1.534 3.667c0 1.586-.469 2.834-1.353 3.744c-1.196 1.274-3.146 1.924-5.356 1.924c-.676 0-1.3-.026-1.819-.156v7.021H2.835zm2.263 8.45c.494.13 1.118.182 1.872.182c2.729 0 4.394-1.326 4.394-3.744c0-2.314-1.638-3.432-4.134-3.432c-.988 0-1.742.078-2.132.182zm22.23 2.47c0 4.654-3.225 6.683-6.267 6.683c-3.406 0-6.032-2.496-6.032-6.475c0-4.212 2.756-6.682 6.24-6.682c3.615-.001 6.059 2.626 6.059 6.474m-9.984.13c0 2.756 1.586 4.836 3.822 4.836c2.184 0 3.821-2.054 3.821-4.888c0-2.132-1.065-4.836-3.77-4.836s-3.873 2.496-3.873 4.888m12.557 3.926c.676.442 1.872.91 3.016.91c1.664 0 2.444-.832 2.444-1.872c0-1.092-.649-1.69-2.34-2.314c-2.262-.806-3.328-2.054-3.328-3.562c0-2.028 1.638-3.692 4.342-3.692c1.274 0 2.393.364 3.095.78l-.572 1.664a4.9 4.9 0 0 0-2.574-.728c-1.352 0-2.106.78-2.106 1.716c0 1.04.755 1.508 2.393 2.132c2.184.832 3.302 1.924 3.302 3.796c0 2.21-1.716 3.77-4.706 3.77c-1.378 0-2.652-.338-3.536-.858zm13.365-13.859v3.614h3.275v1.742h-3.275v6.786c0 1.56.441 2.444 1.716 2.444a5 5 0 0 0 1.326-.156l.104 1.716c-.441.182-1.144.312-2.027.312c-1.066 0-1.925-.338-2.471-.962c-.649-.676-.884-1.794-.884-3.276v-6.864h-1.95v-1.742h1.95v-3.016zm16.536 3.615c-.053.91-.104 1.924-.104 3.458v7.306c0 2.886-.572 4.654-1.794 5.747c-1.222 1.144-2.99 1.508-4.576 1.508c-1.508 0-3.172-.364-4.187-1.04l.572-1.742c.832.52 2.132.988 3.692.988c2.34 0 4.056-1.222 4.056-4.394v-1.404h-.052c-.702 1.17-2.054 2.106-4.004 2.106c-3.12 0-5.356-2.652-5.356-6.137c0-4.264 2.782-6.682 5.668-6.682c2.185 0 3.381 1.144 3.927 2.184h.052l.104-1.898zm-2.366 4.966c0-.39-.026-.728-.13-1.04c-.416-1.326-1.534-2.418-3.198-2.418c-2.185 0-3.744 1.846-3.744 4.758c0 2.47 1.248 4.524 3.718 4.524c1.404 0 2.678-.884 3.172-2.34c.13-.39.183-.832.183-1.222v-2.262zm5.901-1.04c0-1.482-.026-2.756-.104-3.926h2.003l.077 2.47h.104c.572-1.69 1.95-2.756 3.484-2.756c.26 0 .441.026.649.078v2.158a3.4 3.4 0 0 0-.779-.078c-1.612 0-2.757 1.222-3.068 2.938a6.4 6.4 0 0 0-.104 1.066v6.708h-2.262zm9.517 2.782c.052 3.094 2.027 4.368 4.315 4.368c1.639 0 2.626-.286 3.484-.65l.39 1.638c-.806.364-2.184.78-4.186.78c-3.874 0-6.188-2.548-6.188-6.344s2.236-6.787 5.902-6.787c4.108 0 5.2 3.614 5.2 5.928c0 .468-.052.832-.078 1.066h-8.839zm6.708-1.638c.025-1.456-.599-3.718-3.172-3.718c-2.314 0-3.328 2.132-3.511 3.718z'/%3E%3Cpath fill='%23336791' d='M84.371 117.744a8 8 0 0 0 4.056 1.144c2.314 0 3.666-1.222 3.666-2.99c0-1.638-.936-2.574-3.302-3.484c-2.86-1.014-4.628-2.496-4.628-4.966c0-2.73 2.262-4.758 5.668-4.758c1.794 0 3.094.416 3.874.858l-.624 1.846a7 7 0 0 0-3.328-.832c-2.392 0-3.302 1.43-3.302 2.626c0 1.638 1.065 2.444 3.484 3.38c2.964 1.145 4.472 2.574 4.472 5.148c0 2.704-2.002 5.044-6.136 5.044c-1.69 0-3.536-.494-4.473-1.118zm27.586 5.33a95 95 0 0 1-6.708-2.028c-.364-.13-.728-.26-1.066-.26c-4.16-.156-7.722-3.224-7.722-8.866c0-5.616 3.432-9.23 8.164-9.23c4.758 0 7.853 3.692 7.853 8.866c0 4.498-2.08 7.384-4.992 8.398v.104c1.742.442 3.64.858 5.122 1.118zm-1.872-11.414c0-3.51-1.819-7.125-5.538-7.125c-3.822 0-5.694 3.536-5.668 7.333c-.026 3.718 2.028 7.072 5.564 7.072c3.615 0 5.642-3.276 5.642-7.28m5.329-8.684h2.263v15.626h7.488v1.898h-9.751z'/%3E%3C/svg%3E");
		}

		.html-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23e44d26' d='M19.037 113.876L9.032 1.661h109.936l-10.016 112.198l-45.019 12.48z'/%3E%3Cpath fill='%23f16529' d='m64 116.8l36.378-10.086l8.559-95.878H64z'/%3E%3Cpath fill='%23ebebeb' d='M64 52.455H45.788L44.53 38.361H64V24.599H29.489l.33 3.692l3.382 37.927H64zm0 35.743l-.061.017l-15.327-4.14l-.979-10.975H33.816l1.928 21.609l28.193 7.826l.063-.017z'/%3E%3Cpath fill='%23fff' d='M63.952 52.455v13.763h16.947l-1.597 17.849l-15.35 4.143v14.319l28.215-7.82l.207-2.325l3.234-36.233l.335-3.696h-3.708zm0-27.856v13.762h33.244l.276-3.092l.628-6.978l.329-3.692z'/%3E%3C/svg%3E");
		}

		.css-icon {
			display: inline-block;
			width: 2em;
			height: 2em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 361'%3E%3Cpath fill='%23264de4' d='M127.844 360.088L23.662 331.166L.445 70.766h255.11l-23.241 260.36z'/%3E%3Cpath fill='%232965f1' d='m212.417 314.547l19.86-222.49H128V337.95z'/%3E%3Cpath fill='%23ebebeb' d='m53.669 188.636l2.862 31.937H128v-31.937zm-5.752-64.641l2.903 31.937H128v-31.937zM128 271.58l-.14.037l-35.568-9.604l-2.274-25.471h-32.06l4.474 50.146l65.421 18.16l.147-.04z'/%3E%3Cpath d='M60.484 0h38.68v16.176H76.66v16.176h22.506v16.175H60.484zm46.417 0h38.681v14.066h-22.505v2.813h22.505v32.352h-38.68V34.46h22.505v-2.813H106.9zm46.418 0H192v14.066h-22.505v2.813H192v32.352h-38.681V34.46h22.505v-2.813H153.32z'/%3E%3Cpath fill='%23fff' d='m202.127 188.636l5.765-64.641H127.89v31.937h45.002l-2.906 32.704H127.89v31.937h39.327l-3.708 41.42l-35.62 9.614v33.226l65.473-18.145l.48-5.396l7.506-84.08z'/%3E%3C/svg%3E");
		}

		.javascript-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23f7df1e' d='M0 0h256v256H0z'/%3E%3Cpath d='m67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371c7.905 0 12.89-3.092 12.89-15.12v-81.798h24.057v82.138c0 24.917-14.606 36.259-35.916 36.259c-19.245 0-30.416-9.967-36.087-21.996m85.07-2.576l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607c9.969 0 16.325-4.984 16.325-11.858c0-8.248-6.53-11.17-17.528-15.98l-6.013-2.58c-17.357-7.387-28.87-16.667-28.87-36.257c0-18.044 13.747-31.792 35.228-31.792c15.294 0 26.292 5.328 34.196 19.247l-18.732 12.03c-4.125-7.389-8.591-10.31-15.465-10.31c-7.046 0-11.514 4.468-11.514 10.31c0 7.217 4.468 10.14 14.778 14.608l6.014 2.577c20.45 8.765 31.963 17.7 31.963 37.804c0 21.654-17.012 33.51-39.867 33.51c-22.339 0-36.774-10.654-43.819-24.574'/%3E%3C/svg%3E");
		}

		.mysql-icon {
			display: inline-block;
			width: 1.47em;
			height: 1em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 349'%3E%3Cpath fill='%2300758f' d='m152.31 230.297l15.56 50.487c3.496 11.463 4.954 19.465 4.37 24.026q12.765-34.188 17.839-74.513h18.71q-12.069 65.65-31.827 95.41c-10.262 15.289-21.504 22.933-33.746 22.933c-3.264 0-7.288-.986-12.063-2.944v-10.55c2.333.342 5.07.525 8.218.525q8.565-.002 13.816-4.742c4.193-3.849 6.292-8.175 6.292-12.97c0-3.274-1.637-9.993-4.896-20.157l-21.68-67.505zM33.223 199.266l28.5 86.956h.176l28.675-86.956h23.428c5.13 43.124 8.16 82.581 9.09 118.346H103.34q-1.044-50.148-5.768-94.32H97.4l-30.078 94.32H52.28l-29.896-94.32h-.176q-3.325 42.422-4.196 94.32H0c1.164-42.08 4.077-81.525 8.739-118.346z'/%3E%3Cpath fill='%23f29111' d='M352.498 197.51c30.657 0 45.986 19.586 45.986 58.739c0 21.276-4.61 37.347-13.821 48.204c-1.66 1.984-3.495 3.698-5.427 5.286l21.695 10.727l-.021-.001l-7.703 13.302l-28.253-16.485q-7.026 2.08-15.451 2.08c-15.053 0-26.297-4.387-33.731-13.15c-8.16-9.694-12.238-24.955-12.238-45.757c0-21.156 4.602-37.166 13.816-48.037c8.392-9.944 20.11-14.909 35.148-14.909m-93.88.172c10.957 0 20.92 2.932 29.894 8.775l-4.558 10.157c-7.679-3.264-15.25-4.903-22.716-4.903c-6.058 0-10.726 1.458-13.98 4.392c-3.272 2.908-5.296 6.65-5.296 11.212c0 7.01 4.994 13.089 14.215 18.225a816 816 0 0 1 9.031 5.011l.688.387l.345.194l.689.387l.344.194l.688.388c6.98 3.935 13.548 7.691 13.548 7.691c9.22 6.545 13.816 13.523 13.816 25.016c0 10.037-3.678 18.276-11.01 24.723c-7.337 6.418-17.194 9.636-29.538 9.636c-11.545 0-22.734-3.704-33.572-11.05l5.07-10.166c9.327 4.675 17.767 7.01 25.346 7.01c7.108 0 12.672-1.587 16.697-4.721c4.017-3.157 6.424-7.56 6.424-13.143c0-7.027-4.888-13.034-13.855-18.073a898 898 0 0 1-8.395-4.697l-.687-.389c-1.262-.713-2.533-1.435-3.778-2.142l-.675-.384c-6.055-3.444-11.29-6.453-11.29-6.453c-8.964-6.557-13.459-13.592-13.459-25.184c0-9.587 3.352-17.336 10.046-23.231q10.066-8.862 25.968-8.862m175.895 1.584v103.788h37.238v14.558h-56.124V199.266zm57.93 103.833v2.46h-4.094v12.04h-3.13v-12.04h-4.253v-2.46zm7.56 0l3.931 9.884l3.611-9.884h4.437v14.5h-2.95v-11.035l-4.11 11.035h-2.127l-4.117-11.035h-.158v11.035h-2.791v-14.5zM350.57 212.064c-18.066 0-27.104 14.91-27.104 44.71c0 17.07 2.395 29.448 7.176 37.163c4.428 7.14 11.363 10.703 20.806 10.703c18.066 0 27.103-15.026 27.103-45.064c0-16.831-2.395-29.103-7.17-36.822c-4.433-7.124-11.365-10.69-20.81-10.69'/%3E%3Cpath fill='%2300758f' d='M303.218 7.333c5.993-14.726 26.948-3.574 35.08 1.57c1.993 1.287 4.279 4.006 6.564 5.011c3.565.14 7.127.419 10.698.568c6.698 1.574 12.972 2.86 18.25 5.866c24.528 14.445 40.495 29.165 55.19 53.479c3.14 5.15 4.709 10.723 7.274 16.296c3.56 8.307 7.56 17.027 11.692 24.882c1.85 3.724 3.281 7.865 5.85 11.01c1.003 1.438 3.852 1.862 5.555 2.721c4.708 2.437 10.412 4.287 14.84 7.147c8.269 5.156 16.264 11.3 23.532 17.59c2.709 2.428 4.555 5.865 7.136 8.433v1.296c-2.291.703-4.574 1.423-6.859 2c-4.991 1.282-9.412.992-14.254 2.275c-2.992.868-6.707 2.013-9.845 2.304l.29.292c1.846 5.275 11.834 9.565 16.402 12.72c5.548 4.004 10.689 8.86 14.827 14.437c1.429 1.423 2.858 2.718 4.28 4.137c.994 1.438 1.274 3.298 2.28 4.58v.434c-1.114-.393-1.915-1.143-2.674-1.927l-.453-.473c-.453-.47-.91-.932-1.431-1.313c-3.148-2.15-6.274-4.722-9.422-6.721c-5.412-3.434-11.689-5.427-17.246-8.874c-3.142-2.001-6.137-4.28-9.132-6.57c-2.715-2.007-5.705-5.861-7.411-8.721c-1.005-1.58-1.143-3.437-2.291-4.58c.205-1.909 1.954-2.476 3.719-2.942l.406-.107c.609-.158 1.205-.316 1.725-.525c7.414-3.148 16.253-4.29 27.667-4.004c-.43-2.866-7.562-6.437-9.839-8.153c-4.57-3.294-9.409-6.731-14.257-9.729c-2.569-1.57-6.996-2.716-9.842-3.999c-3.851-1.574-12.41-3.147-14.544-6.145c-3.625-4.726-6.229-10.363-8.757-16.057l-.688-1.554l-.69-1.553c-2.988-6.857-6.7-14.006-9.695-21.027c-1.566-3.425-2.285-6.431-4-9.716c-10.407-20.158-25.81-37.035-44.485-48.904c-6.137-3.862-12.98-7.436-20.534-9.865c-4.281-1.293-9.419-.578-13.98-1.57h-3.002c-2.562-.722-4.701-3.438-6.7-4.87c-4.415-2.998-8.837-5.011-14.117-7.15c-1.85-.858-7.133-2.856-8.977-1.283c-1.142.287-1.721.718-2.002 1.864c-1.136 1.71-.137 4.286.57 5.863c2.142 4.57 5.134 7.286 7.85 11.148c2.416 3.425 5.417 7.287 7.13 11.011c3.696 8.005 5.417 16.874 8.842 24.878c1.27 3.01 3.279 6.435 5.128 9.15c1.567 2.155 4.416 3.713 5.278 6.441c1.718 2.86-2.572 12.297-3.565 15.294c-3.715 11.727-2.995 28.028 1.283 38.193l.228.536l.228.543c1.562 3.723 3.234 7.732 7.387 8.773c.286-.284 0-.135.567-.284c1.005-7.868 1.288-15.445 4-21.601c1.567-3.849 4.696-6.57 6.841-9.712c1.43.856 1.43 3.437 2.282 5.145c1.856 4.43 3.849 9.287 6.137 13.73c4.696 9.15 9.98 18.021 15.967 26.025c2.005 2.859 4.85 6.006 7.416 8.581c1.143.997 2.423 1.573 3.282 2.856h.28v.432c-4.278-1.577-6.99-6.003-10.402-8.587c-6.424-4.857-14.117-12.151-18.545-19.15c-1.852-4.018-3.854-7.869-5.85-11.867v-.289c-.853 1.142-.567 2.276-.994 4.004c-1.852 7.145-.426 15.296-6.843 17.866c-7.274 3.01-12.7-4.857-14.977-8.432c-7.276-11.866-9.269-31.884-4.138-48.043c1.14-3.577 1.295-7.867 3.285-10.723c-.43-2.582-2.42-3.288-3.571-4.87c-1.996-2.704-3.705-5.854-5.268-8.857c-3.002-5.866-5.138-12.875-7.417-19.166c-1.002-2.569-1.289-5.148-2.288-7.58c-1.704-3.712-4.845-7.436-7.268-10.72c-3.281-4.72-12.837-13.868-8.985-23.168m46.772 28.015c.381.382.841.716 1.317 1.045l.574.394c.765.53 1.506 1.088 1.96 1.848c.72 1.006.854 1.999 1.716 3.007c0 3.437-.996 5.722-3.007 7.146c0 0-.137.15-.278.29c-1.14-2.291-2.139-4.57-3.287-6.859c-1.414-1.998-3.413-3.583-4.565-5.866h-.277v-.287c1.721-.425 3.428-.718 5.847-.718'/%3E%3C/svg%3E");
		}

		.dotnet-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23512bd4' d='M0 0h256v256H0z'/%3E%3Cpath fill='%23fff' d='M45.627 163.555c-1.81 0-3.348-.603-4.615-1.809c-1.267-1.237-1.901-2.707-1.901-4.408c0-1.732.634-3.216 1.9-4.454c1.268-1.237 2.806-1.856 4.616-1.856c1.84 0 3.394.619 4.661 1.856c1.298 1.238 1.946 2.722 1.946 4.454c0 1.701-.648 3.17-1.946 4.408c-1.267 1.206-2.82 1.81-4.66 1.81m72.361-1.02h-11.765L75.225 113.63a21.882 21.882 0 0 1-1.946-3.85h-.272l.047.305l.043.35l.04.393l.038.436l.049.736l.042.832l.035.93l.028 1.028l.02 1.125l.01.805l.01 2.2v43.614H62.961V96h12.535l29.957 47.743l.74 1.169l.477.768l.408.675l.34.583l.19.338l.16.296l.13.255h.18l-.034-.21l-.064-.45l-.06-.493l-.053-.537a35.943 35.943 0 0 1-.024-.285l-.046-.602l-.04-.645l-.035-.69l-.042-1.114l-.03-1.212l-.018-1.31l-.006-1.407V96h10.362zm50.685 0h-36.428V96h34.98v9.373h-24.21v18.837h22.31v9.326h-22.31v19.673h25.658zm51.772-57.162H201.8v57.162h-10.77v-57.162h-18.6V96h48.014z'/%3E%3C/svg%3E");
		}

		.java-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 346'%3E%3Cpath fill='%235382a1' d='M82.554 267.473s-13.198 7.675 9.393 10.272c27.369 3.122 41.356 2.675 71.517-3.034c0 0 7.93 4.972 19.003 9.279c-67.611 28.977-153.019-1.679-99.913-16.517m-8.262-37.814s-14.803 10.958 7.805 13.296c29.236 3.016 52.324 3.263 92.276-4.43c0 0 5.526 5.602 14.215 8.666c-81.747 23.904-172.798 1.885-114.296-17.532'/%3E%3Cpath fill='%23e76f00' d='M143.942 165.515c16.66 19.18-4.377 36.44-4.377 36.44s42.301-21.837 22.874-49.183c-18.144-25.5-32.059-38.172 43.268-81.858c0 0-118.238 29.53-61.765 94.6'/%3E%3Cpath fill='%235382a1' d='M233.364 295.442s9.767 8.047-10.757 14.273c-39.026 11.823-162.432 15.393-196.714.471c-12.323-5.36 10.787-12.8 18.056-14.362c7.581-1.644 11.914-1.337 11.914-1.337c-13.705-9.655-88.583 18.957-38.034 27.15c137.853 22.356 251.292-10.066 215.535-26.195M88.9 190.48s-62.771 14.91-22.228 20.323c17.118 2.292 51.243 1.774 83.03-.89c25.978-2.19 52.063-6.85 52.063-6.85s-9.16 3.923-15.787 8.448c-63.744 16.765-186.886 8.966-151.435-8.183c29.981-14.492 54.358-12.848 54.358-12.848m112.605 62.942c64.8-33.672 34.839-66.03 13.927-61.67c-5.126 1.066-7.411 1.99-7.411 1.99s1.903-2.98 5.537-4.27c41.37-14.545 73.187 42.897-13.355 65.647c0 .001 1.003-.895 1.302-1.697'/%3E%3Cpath fill='%23e76f00' d='M162.439.371s35.887 35.9-34.037 91.101c-56.071 44.282-12.786 69.53-.023 98.377c-32.73-29.53-56.75-55.526-40.635-79.72C111.395 74.612 176.918 57.393 162.439.37'/%3E%3Cpath fill='%235382a1' d='M95.268 344.665c62.199 3.982 157.712-2.209 159.974-31.64c0 0-4.348 11.158-51.404 20.018c-53.088 9.99-118.564 8.824-157.399 2.421c.001 0 7.95 6.58 48.83 9.201'/%3E%3C/svg%3E");
		}

		.csharp-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Ccircle cx='128' cy='128' r='128' fill='%2305930c'/%3E%3Cpath fill='%23fff' fill-opacity='0.1' d='m38.903 36.1l180.833 181.166C196.483 241.16 163.974 256 128 256C57.308 256 0 198.692 0 128c0-36.06 14.91-68.636 38.903-91.9'/%3E%3Cpath fill='%23fff' d='M121.72 174.2a59.12 59.12 0 0 1-28 5.92a44.92 44.92 0 0 1-34.44-13.84a51.12 51.12 0 0 1-12.92-36.36a53.56 53.56 0 0 1 14.56-39.08A49.4 49.4 0 0 1 97.96 76a59.2 59.2 0 0 1 23.76 4v12.6a48 48 0 0 0-24-6.04a36.68 36.68 0 0 0-28 11.6a43.72 43.72 0 0 0-10.8 31A41.6 41.6 0 0 0 69 158.52a34.32 34.32 0 0 0 26.48 10.92a49.68 49.68 0 0 0 26.28-6.76zm89.32-68.36l-1.6 7.44h-18.4l-4.4 21.12h19.76l-1.88 7.44h-19.36l-6.2 28h-8.84l6.04-28h-17.6l-5.92 28H144l5.92-28h-18.56l1.4-7.44h18.64l4.28-21.08H136.2l1.48-7.44h19.48l5.92-28.28H172l-5.92 28.28h17.72l6.04-28.28h8.64l-5.92 28.28zm-28.68 7.44H164.6L160 134.4h17.84z'/%3E%3C/svg%3E");
		}

		.sqlserver-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23000' d='M72.207 12.256c-.235-.032-4.028 1.337-6.474 2.33c-3.302 1.347-5.866 2.63-7.448 3.74c-.524.372-1.144.983-1.359 1.319l-.01-.026s-.02.064-.03.082c-.01.02-.035.05-.042.067a1 1 0 0 0-.067.363l.036.033c.009.115.037.244.093.385c.14.342.545.758 1.004 1.186c0 0 4.755 4.636 5.332 5.298c2.628 3.035 3.773 6.026 3.88 10.15c.064 2.65-.439 4.981-1.688 7.684c-2.222 4.851-6.913 10.203-14.147 16.143l.104-.035c-.044.035-.116.099-.158.133c-.866.684-2.148 1.965-2.8 2.777c-.972 1.218-1.74 2.512-2.072 3.506c-.587 1.795-.3 3.61.833 5.287c1.453 2.137 4.35 4.318 7.726 5.803c1.72.758 4.615 1.73 6.795 2.275c3.622.92 10.632 1.913 14.488 2.063c.78.032 1.827.032 1.87 0c.085-.054.684-1.196 1.378-2.618c2.372-4.84 4.082-9.381 5.012-13.26c.555-2.35.993-5.481 1.281-9.189c.076-1.036.107-4.508.043-5.683c-.097-1.923-.268-3.484-.535-5.012c-.031-.164-.026-.244-.023-.318c8.587-2.551 18.06-4.862 24.353-5.825l.97-.15l-.148-.234c-.855-1.325-1.442-2.15-2.148-3.026c-2.051-2.543-4.541-4.605-7.586-6.314c-4.189-2.34-9.606-4.167-16.465-5.524c-1.292-.256-4.132-.747-6.44-1.1l-.216-.384c-1.261-2.222-2.65-4.979-3.46-6.838c-.631-1.442-1.23-3.11-1.561-4.307c-.182-.726-.204-.769-.32-.779Zm-.172.545h.012c.01.01.053.312.096.664a22.3 22.3 0 0 0 1.037 4.498c.395 1.176.395 1.11-.065.97c-1.089-.298-5.973-1.14-9.51-1.632c-.566-.075-1.046-.15-1.046-.16c-.044-.043 2.554-1.4 3.697-1.934c1.464-.673 5.48-2.352 5.78-2.406zm-10.298 4.787l.416.139c2.265.77 7.96 1.86 11.101 2.117c.352.032.652.063.662.063c.011.01-.287.171-.672.353a59 59 0 0 0-4.34 2.404a5 5 0 0 1-.632.356l-1.055-.172l-1.004-.984a448 448 0 0 0-3.922-3.774zm-.428.332l1.506 1.881c.822 1.036 1.656 2.05 1.838 2.275c.163.202.27.336.289.375c-1.064-.185-2.203-.378-3.079-.566c-.64-.14-1.868-.429-2.83-.76l-.32-.12v-.114c.01-.716.918-1.786 2.457-2.875zm12.8 2.565c.044 0 .097.096.225.384c.363.802 1.496 2.96 1.774 3.377l.035.057a656 656 0 0 1-6.047-.986a1 1 0 0 1 .2-.13a21 21 0 0 0 3.257-2.253c.246-.203.47-.395.514-.428c.01-.021.032-.032.043-.021zm-14.435 1.804c.01-.01.182.054.406.13c.406.138.93.299 1.55.47a79 79 0 0 0 1.41.373c.64.16 1.175.31 1.185.31c.075.075 1.154 3.525 1.517 4.85c.139.503.248.93.237.93c-.011.01-.13-.17-.268-.416c-1.25-2.201-3.227-4.434-5.514-6.229a4.4 4.4 0 0 1-.523-.418m5.246 1.444c0 .021-.001.01.01.01c.054 0 .29.033.578.097c1.817.406 5.075 1.025 7.158 1.377c.353.054.631.117.631.139c0 .021-.128.096-.289.181a39 39 0 0 0-2.244 1.348c-1.186.79-2.254 1.645-3.024 2.414a44 44 0 0 1-.576.567s-.063-.183-.117-.407c-.384-1.485-1.187-3.685-1.914-5.234a5 5 0 0 1-.213-.492m9.264 1.773c.064.022.171.384.385 1.186a17.5 17.5 0 0 1 .513 4.894c-.021.449-.043.865-.064.918l-.033.108l-.555-.182a170 170 0 0 0-4.596-1.357c-.908-.246-1.644-.47-1.644-.49c0-.065 1.324-1.391 1.89-1.893c1.08-.951 4.007-3.216 4.104-3.184m.738.108c.035-.032 4.422.726 6.42 1.11c1.485.29 3.643.737 3.771.79c.064.022-.16.15-.876.47c-2.82 1.272-4.913 2.416-6.997 3.805c-.545.363-1.004.662-1.015.662s-.022-.31-.022-.683c0-2.03-.406-4.081-1.154-5.813c-.075-.17-.138-.33-.127-.341m11.357 2.244c.033.032-.108.895-.236 1.408c-.384 1.592-1.42 3.955-2.691 6.178c-.225.395-.428.715-.45.726c-.021.011-.309-.15-.64-.344c-1.24-.726-2.65-1.41-4.19-2.05c-.427-.182-.801-.33-.812-.352c-.075-.064 3.367-2.34 5.184-3.43c1.442-.876 3.793-2.18 3.835-2.136m.811.127c.096 0 2.042.535 3.057.834c2.51.748 5.394 1.805 7.275 2.66l.78.353l-.544.127c-4.594 1.058-8.527 2.276-12.32 3.815a8 8 0 0 1-.61.236c-.02 0 .086-.248.225-.547c1.143-2.425 1.881-4.956 2.063-7.115c.01-.203.042-.363.074-.363M67.73 32.43c.033-.032 1.518.32 2.319.545c1.218.342 3.803 1.206 3.803 1.271c0 .011-.288.256-.63.555c-1.4 1.165-2.747 2.395-4.36 3.955c-.481.46-.886.832-.907.832s-.032-.065-.021-.15c.246-1.795.191-4.102-.15-6.442c-.033-.299-.064-.555-.053-.566zm31.21.031c.02.021-.685 1.133-1.133 1.764c-.641.919-1.58 2.138-3.707 4.808a711 711 0 0 0-2.8 3.537c-.428.534-.78.984-.791.984c-.01 0-.149-.192-.299-.428c-1.196-1.794-2.63-3.365-4.328-4.775a25 25 0 0 0-.79-.643a1.2 1.2 0 0 1-.214-.181c0-.032 1.817-.812 3.195-1.368a110 110 0 0 1 8.172-2.918c1.294-.405 2.672-.8 2.694-.779zm.822.215c.042-.01.3.118.61.299c2.596 1.485 5.139 3.398 7.148 5.363c.566.556 1.966 2.01 1.945 2.02c0 0-.492.043-1.068.086c-4.499.342-10.258 1.291-15.793 2.627a21 21 0 0 1-.727.162c-.021 0 .396-.418.92-.92c3.248-3.131 4.733-5.107 6.484-8.633c.246-.523.46-.971.48-1.004zm-23.795 2.436c.15.032 1.539.683 2.586 1.207c.962.48 2.406 1.25 2.48 1.314c.011.01-.502.278-1.132.588a75 75 0 0 0-5.524 3.045c-.513.31-.94.566-.951.566c-.043 0-.033-.043.256-.566c.962-1.752 1.73-3.846 2.168-5.887c.043-.16.085-.267.117-.267m-1.389.255c.032.033-.33 1.347-.554 2.063a26.3 26.3 0 0 1-1.891 4.338c-.171.3-.427.737-.566.982l-.268.428l-.598-.576c-.694-.673-1.262-1.091-1.988-1.465c-.288-.15-.512-.278-.512-.299c0-.085 1.827-1.74 3.227-2.937c1.004-.866 3.118-2.565 3.15-2.534m8.494 3.495l.526.341a41 41 0 0 1 3.685 2.725c.61.502 1.785 1.56 2.02 1.816l.127.14l-.865.245c-4.894 1.357-8.675 2.565-13.088 4.19c-.492.18-.908.33-.94.33c-.064 0-.118.054.983-.961c2.82-2.596 5.32-5.46 7.18-8.248zm-2.232.556c.022.022-1.442 2.084-2.318 3.248a145 145 0 0 1-4.19 5.235c-.533.63-.992 1.153-1.013 1.164c-.033.01-.043-.15-.043-.395c0-1.293-.332-2.67-.909-3.846c-.245-.49-.288-.61-.234-.664c.203-.18 3.312-1.954 5.277-3.011c1.326-.705 3.398-1.752 3.43-1.73zm-13.506 3.31c.033 0 .28.13.557.28a12 12 0 0 1 1.838 1.238c.02.022-.256.247-.62.514a100 100 0 0 0-3.45 2.607c-.941.748-.974.77-.868.61c.706-1.08 1.058-1.69 1.432-2.469a20 20 0 0 0 .898-2.232c.085-.31.192-.547.213-.547zm3.58 2.823h.022c.053-.01.118.084.406.512c.609.907 1.08 2.126 1.197 3.11l.022.214l-1.465.566c-2.618 1.015-5.033 2.018-6.668 2.766a128 128 0 0 0-1.783.855c-.524.267-.951.47-.951.46c0-.011.331-.256.738-.555c3.195-2.319 5.96-4.861 8.033-7.405c.225-.266.428-.512.45-.523zm-1.635.406c.043.044-1.174 1.42-2.007 2.264c-2.062 2.105-4.105 3.75-6.637 5.353c-.32.203-.608.385-.64.407c-.075.042.021-.064 1.132-1.272a29 29 0 0 0 1.848-2.191c.406-.524.482-.597 1.07-1.014c1.57-1.133 5.192-3.59 5.234-3.547m14.307 1.274c.143.355.443 3.272.524 5.22c.021.439.011.729-.01.729c-.086 0-1.807-1.016-3.035-1.785c-1.065-.67-3.076-2.004-3.409-2.268a198 198 0 0 1 5.93-1.896m-7.078 2.304c.14.06.35.176.775.438c2.2 1.378 5.193 3.046 6.475 3.601c.395.171.438.107-.47.727c-1.945 1.325-4.37 2.63-7.34 3.943a22 22 0 0 1-.973.416c-.021 0 .042-.267.127-.587c.716-2.661 1.123-5.353 1.144-7.512c.006-.538.008-.803.022-.94zm-1.639.584c.056.197.017 2.396-.066 3.028a27 27 0 0 1-.982 4.648c-.118.395-.225.727-.247.748c-.043.053-1.505-1.378-1.986-1.933c-.833-.962-1.486-1.924-1.967-2.864c-.231-.453-.563-1.264-.576-1.388c1.515-.616 3.082-1.23 4.733-1.85c.339-.127.738-.26 1.091-.389m-6.943 2.707c.027.042.087.178.146.354c.342.93 1.111 2.298 1.774 3.174c.726.961 1.678 1.985 2.469 2.658c.256.214.49.417.521.45c.065.063.088.054-1.654.716c-2.019.77-4.22 1.537-6.742 2.35a336 336 0 0 0-1.807.587c-.096.032-.063-.02.215-.458c1.25-1.955 3.152-5.79 4.22-8.504c.182-.471.363-.943.395-1.05c.013-.045.034-.07.05-.1c.14-.06.272-.118.413-.177m-2.23.954c-.048.17-.507 1.135-1 2.103c-1.037 2.02-2.17 4.006-3.686 6.42c-.257.417-.503.803-.535.846c-.054.074-.073.054-.244-.278c-.363-.716-.664-1.636-.825-2.48c-.16-.834-.126-2.286.055-3.184c.081-.386.117-.537.192-.633a125 125 0 0 1 6.043-2.794m18.478.638v.45c0 2.382-.257 5.652-.63 8.035c-.065.416-.118.758-.128.77c0 0-.31-.087-.674-.194a27.6 27.6 0 0 1-4.916-2.106c-1.036-.565-2.542-1.494-2.5-1.537c.011-.01.461-.245.985-.523c2.094-1.09 4.101-2.265 5.843-3.43c.652-.438 1.634-1.143 1.848-1.336zM57.68 57.602c.028.018.02.105-.037.449a15 15 0 0 0-.117 1.145c-.086 1.56.172 2.714.941 4.294c.214.439.384.8.373.811c-.075.065-7.146 2.137-9.37 2.746c-.662.181-1.239.343-1.282.354c-.074.021-.085.01-.053-.172c.246-1.57 1.442-3.621 3.11-5.352c1.11-1.154 1.996-1.828 3.513-2.693a97 97 0 0 1 2.12-1.164c.261-.14.536-.279.802-.418m16.664 2.96c.01-.01.267.13.576.311c2.287 1.325 5.472 2.553 8.186 3.184l.246.053l-.344.191c-1.42.79-6.09 2.735-10.865 4.52c-.695.256-1.377.513-1.506.566c-.128.054-.246.086-.246.076s.192-.384.437-.844c1.336-2.5 2.681-5.546 3.366-7.662c.085-.203.139-.383.15-.394zm-1.7.555c.012.011-.074.236-.18.493c-.93 2.254-2.149 4.712-3.708 7.468c-.396.706-.725 1.272-.736 1.272s-.332-.193-.717-.428c-2.266-1.39-4.274-3.098-5.588-4.754l-.193-.236l.972-.268c3.484-.95 6.442-1.976 9.381-3.236c.417-.171.76-.31.77-.31zm10.557 3.688c.01.248-.534 2.446-.982 4.037a116 116 0 0 1-1.283 4.232c-.256.813-.48 1.485-.49 1.485a.7.7 0 0 1-.14-.031c-3.173-.577-6.016-1.38-8.687-2.448c-.748-.299-1.816-.78-1.88-.834c-.022-.021.62-.32 1.431-.672c4.862-2.126 9.906-4.541 11.637-5.578c.202-.128.362-.191.394-.191m-24.37.832c.02.022-1.337 1.976-3.239 4.637c-.662.93-1.43 2.019-1.719 2.425a43 43 0 0 0-.972 1.432l-.45.695l-.48-.406c-.566-.47-1.55-1.474-1.988-2.03c-.92-1.143-1.538-2.35-1.784-3.45c-.118-.513-.118-.77-.011-.801c.16-.043 3.014-.716 5.685-1.336a474 474 0 0 0 3.824-.898c.62-.15 1.123-.268 1.133-.268zm1.366.523l.342.385c1.539 1.72 3.11 2.993 5.012 4.104c.341.192.598.362.576.373c-.075.054-6.603 2.372-9.627 3.42a258 258 0 0 1-3.11 1.078c-.01 0-.105-.064-.212-.139l-.193-.139l.31-.449c1.004-1.453 2.265-3.045 5.012-6.357zm8.528 6.102c.01-.01.48.16 1.056.373c1.39.524 2.49.855 3.965 1.229c1.817.46 4.445.908 5.994 1.037c.235.02.363.044.32.076c-.074.043-1.646.566-2.8.93c-1.838.576-7.446 2.232-12.02 3.546c-.844.246-1.57.45-1.613.46c-.106.021-.459-.076-.459-.118c0-.021.257-.353.567-.717a63 63 0 0 0 4.337-5.834c.353-.534.653-.971.653-.982m-1.881.053v.002c.01.01-.75 1.228-2.074 3.322c-.566.886-1.196 1.891-1.42 2.244c-.214.342-.536.875-.717 1.174l-.309.545l-.16-.043c-.384-.107-3.089-1.057-3.804-1.346a27 27 0 0 1-2.489-1.142c-.855-.46-1.923-1.145-1.838-1.166c.022-.011 1.484-.407 3.246-.887c4.68-1.272 7.278-2.009 8.977-2.543c.31-.096.577-.171.588-.16m13.303 3.12h.01c.042.107-1.688 4.915-2.319 6.432c-.138.342-.193.427-.267.416c-.182-.01-2.693-.361-4.221-.585c-2.66-.406-7.127-1.188-8.248-1.444l-.256-.055l1.592-.36c3.42-.77 5.063-1.187 6.73-1.7a48 48 0 0 0 6.293-2.426c.331-.15.61-.267.686-.277zm-42.205 5.17c-.44 0-.8.133-1.096.41c-.344.327-.527.75-.527 1.325v.838h-.864v.687h.864v4.405l.005-.002h.819v-4.422h1.195v-.688h-1.195v-.789c0-.718.276-1.076.851-1.076c.193 0 .391.049.537.131v-.738c-.146-.066-.343-.08-.59-.08zm-27.705.194a.5.5 0 0 0-.375.149a.53.53 0 0 0-.165.376c0 .163.05.277.165.375a.54.54 0 0 0 .375.15h.002a.5.5 0 0 0 .375-.15a.52.52 0 0 0 .166-.375a.47.47 0 0 0-.163-.376a.53.53 0 0 0-.38-.149m69.986.084v.229h.605v1.836h.229v-1.836h.607v-.229zm1.752 0v2.065h.228V81.57l.016-.004c0-.177 0-.324-.014-.407c.015.097.05.164.065.213l.703 1.575h.113l.707-1.59c.02-.048.034-.114.065-.198a4 4 0 0 0-.016.395v1.39h.244v-2.062h-.293l-.64 1.424c-.015.05-.065.149-.096.262h-.022c-.012-.066-.044-.133-.091-.245l-.64-1.44Zm-81.23.232v7.157h.804v-4.797l.014-.004c0-.64-.02-1.116-.035-1.395h.015c.065.33.147.577.213.74l2.44 5.454h.41l2.441-5.502c.067-.15.132-.376.213-.69h.018a16 16 0 0 0-.065 1.397v4.81h.836v-7.152H7L4.756 86.11q-.124.295-.344.882H4.38a6 6 0 0 0-.326-.85l-2.195-5.027Zm39.751.536c-.28.097-.556.18-.818.261v1.245h-.88v.687h.88v3.03h.004c0 1 .44 1.51 1.342 1.51c.327 0 .572-.053.77-.17v-.702a.86.86 0 0 1-.526.166c-.278 0-.474-.067-.588-.215c-.117-.147-.184-.394-.184-.736v-2.883h1.297v-.687h-1.297zm3.377.443c-.413 0-.753.132-1.031.41c-.282.278-.41.62-.41 1.014c0 .413.132.755.41 1.014c.263.263.604.394 1.014.394v.004c.409 0 .75-.132 1.03-.414a1.37 1.37 0 0 0 .427-1.014c0-.41-.147-.75-.426-1.013a1.4 1.4 0 0 0-1.014-.395m0 .148c.357 0 .655.115.903.358c.244.245.375.542.375.902a1.26 1.26 0 0 1-.375.916a1.23 1.23 0 0 1-.903.36c-.362 0-.657-.112-.9-.36a1.26 1.26 0 0 1-.375-.916c0-.36.11-.657.355-.902c.244-.243.541-.358.92-.358m-.607.327v1.834h.262v-.77l.03.002h.167c.117 0 .232.112.33.326l.197.442h.309l-.244-.493c-.1-.197-.196-.31-.31-.341c.144-.034.259-.083.34-.18a.45.45 0 0 0 .112-.33a.42.42 0 0 0-.146-.346c-.113-.094-.293-.144-.526-.144zm.29.213h.233c.165 0 .281.033.346.082c.061.048.08.112.08.228c0 .213-.133.313-.377.313h-.281zm-20.937.244c-.77 0-1.39.23-1.85.673c-.491.488-.751 1.179-.751 2.063c0 .77.21 1.408.654 1.883c.458.492 1.065.738 1.834.738l-.002.002c.77 0 1.39-.248 1.85-.74c.458-.488.687-1.146.687-1.965c0-.835-.21-1.474-.639-1.95c-.425-.474-1.013-.704-1.783-.704m9.909 0l-.004.002c-.77 0-1.39.229-1.85.672c-.488.489-.75 1.178-.75 2.062c0 .77.211 1.408.652 1.883c.46.492 1.066.738 1.836.738c.788 0 1.39-.248 1.85-.74q.69-.736.69-1.965c0-.835-.216-1.473-.641-1.95c-.442-.474-1.032-.702-1.783-.702m-17.967.002c-.818 0-1.457.262-1.934.77c-.473.506-.717 1.195-.717 2.027c0 .74.213 1.362.655 1.837c.46.488 1.047.737 1.767.737c.558-.016 1.013-.133 1.408-.362v-.785c-.395.295-.818.442-1.257.442c-.525 0-.953-.18-1.264-.526c-.31-.342-.477-.816-.477-1.408c0-.62.168-1.113.51-1.488q.492-.54 1.276-.541c.426 0 .834.133 1.212.396v-.838c-.344-.18-.735-.261-1.18-.261zm13.199.021c-.525 0-.969.145-1.295.424a1.31 1.31 0 0 0-.508 1.062c0 .375.112.687.326.916c.18.195.49.395.918.573c.41.18.686.342.834.474a.63.63 0 0 1 .213.489c0 .477-.327.724-.965.724q-.737.001-1.328-.488v.88c.357.216.786.313 1.26.313c.606-.032 1.08-.18 1.406-.474l.006-.002c.312-.278.477-.621.477-1.05a1.28 1.28 0 0 0-.377-.933c-.2-.197-.505-.374-.951-.554c-.394-.165-.638-.311-.77-.426a.7.7 0 0 1-.213-.528c0-.212.082-.373.244-.505c.165-.131.377-.196.659-.196c.44 0 .818.117 1.162.364v-.82a2.4 2.4 0 0 0-1.098-.243m-8.613.027c-.295 0-.557.1-.79.282c-.243.193-.437.488-.552.863h-.02v-1.045h-.816v5.107h.818v-2.62l.018-.003c0-.587.13-1.06.375-1.388q.344-.442.836-.444c.278 0 .475.051.619.166v-.853c-.112-.05-.276-.065-.488-.065m-9.268.407v4.457h.72v-4.457zm22.613.232c.507 0 .914.163 1.21.49c.261.36.41.853.41 1.508h.002c0 .623-.133 1.114-.41 1.442c-.279.344-.688.525-1.23.525c-.525 0-.931-.181-1.243-.525c-.31-.345-.46-.819-.46-1.442c0-.657.164-1.166.493-1.508q.465-.49 1.228-.49m-9.923.016c.526 0 .92.163 1.212.492c.295.344.442.833.442 1.49c0 .622-.132 1.114-.41 1.442c-.277.344-.686.525-1.227.525c-.525 0-.934-.181-1.246-.525c-.31-.345-.457-.819-.457-1.442c-.032-.62.131-1.127.457-1.49q.468-.493 1.229-.492M6.88 90.196c-3.24-.048-5.337 1.014-6.318 3.177c-1.443 3.193-.165 5.6 4.45 8.285c2.592 1.507 3.735 2.818 3.735 4.245c0 2.948-3.553 3.977-7.22 2.127c-.754-.376-1.393-.69-1.428-.69c-.132.836-.065 2.836-.065 2.836s1.129.474 2.819.8c4.19.836 8.005-1.131 8.365-4.323c.314-2.997-.771-4.569-4.877-7.022v.002c-2.734-1.657-3.946-2.85-3.797-4.26c.424-3.896 5.237-3.356 7.904-1.882l.02-2.622s-1.475-.64-3.588-.673m16.13 0v.002c-.197 0-.394.02-.589.02c-3.98.211-6.666 1.964-8.236 5.386c-1.343 3.094-1.196 7.138.015 10.252c1.408 3.042 3.684 4.648 7.483 5.254c.803.132 1.342.571 2.9 2.388l1.914 2.246h3.475l-2.31-2.33c-1.278-1.276-2.31-2.388-2.31-2.486c0-.097.489-.31 1.08-.49c1.95-.59 3.567-2.096 4.7-4.404c.916-1.853 1.048-2.427 1.18-4.733c.343-6.863-3.275-11.154-9.301-11.105zm35.581.035c-3.242-.048-5.337 1.014-6.32 3.177c-1.441 3.192-.147 5.6 4.453 8.286c2.588 1.506 3.732 2.8 3.732 4.226c0 2.948-3.553 3.994-7.22 2.127c-.751-.375-1.39-.685-1.426-.685c-.131.835-.065 2.836-.065 2.836s1.115.454 2.8.798c4.194.837 8.008-1.126 8.368-4.318c.311-2.982-.769-4.553-4.863-7.01v-.004c-2.734-1.652-3.944-2.85-3.797-4.26c.424-3.896 5.238-3.355 7.904-1.882l.02-2.621s-1.474-.64-3.586-.67m-23.139.213v20.24h10.692v-2.39h-8.15v-17.85zM22.83 92.326c4.226 0 6.63 2.587 6.944 7.45c.248 4.06-1.112 7.106-3.715 8.369l-.002.002c-1.69.818-4.144.98-5.746.392c-1.656-.608-3.26-2.326-3.98-4.273c-.802-2.13-.687-6.06.23-7.828c1.473-2.817 3.422-4.112 6.27-4.112zm85.557 3.57a7.7 7.7 0 0 0-1.559.18c-3.37.883-5.27 4.114-5.14 7.438c0 2.779.54 4.158 1.883 5.615c2.75 2.26 5.24 2.439 8.613 1.227a93 93 0 0 0 1.193-.52v-2.262l-1.195.624c-2.723 1.18-4.77 1.179-6.404-.215c-1.051-1.063-1.506-2.325-1.72-3.8h10.153v-1.933c0-3.924-2.375-6.416-5.83-6.35zm18.16 0c-.413 0-.755.132-1.033.413c-.278.276-.41.62-.41 1.014c0 .41.132.751.408 1.015q.415.394 1.033.393c.407 0 .75-.131 1.033-.41c.276-.28.422-.604.422-1.012c-.015-.413-.163-.756-.441-1.018l.002-.002a1.4 1.4 0 0 0-1.014-.392zm-55.299.034a7.3 7.3 0 0 0-1.537.18c-3.374.883-5.276 4.112-5.16 7.435c0 2.783.543 4.176 1.885 5.635c2.75 2.257 5.238 2.436 8.595 1.225c.572-.244 1.198-.526 1.198-.526v-2.258l-1.198.621c-2.717 1.183-4.762 1.183-6.402-.21c-1.045-1.065-1.508-2.341-1.719-3.8h10.168V102.3c0-3.942-2.372-6.431-5.826-6.37h-.002zm51.955.098c-1.457 0-2.585.59-3.324 1.754l-.59.916v-2.39h-2.521v14.343h2.52v-4.584c0-4.192.05-4.684.638-5.83c.808-1.571 2.199-2.357 3.541-1.979l.9.262v-2.492zm3.325.02c.357 0 .654.11.902.355c.243.248.375.544.375.9c0 .381-.113.674-.375.922a1.22 1.22 0 0 1-.902.357c-.357 0-.653-.113-.9-.357a1.27 1.27 0 0 1-.376-.92c0-.357.113-.654.36-.902c.244-.244.539-.356.916-.356zm-40.461.013c-1.457 0-2.573.59-3.325 1.752l-.59.92V96.34h-2.519v14.346h2.52V106.1c0-4.193.052-4.683.638-5.83c.807-1.574 2.196-2.358 3.54-1.983l.9.264v-2.486h-1.162zm1.964.262a446 446 0 0 0 5.372 14.36c.803.019 1.606 0 2.408 0l2.83-7.107l2.88-7.252h-2.486s-1.1 2.882-2.246 6.108l.004-.002l-2.096 5.453l-2.015-5.484l-2.047-6.077zm37.924.068v1.832h.264v-.772h.164c.112 0 .224.115.326.329l.196.441h.312l-.244-.492c-.084-.211-.182-.307-.28-.34a.7.7 0 0 0 .344-.18a.46.46 0 0 0 .114-.33a.42.42 0 0 0-.147-.344c-.113-.094-.294-.144-.525-.144zm.276.213h.232c.164 0 .278.03.344.08s.08.113.08.23c0 .212-.132.31-.375.31h-.281zm-17.994 1.44c.752 0 1.506.242 2.128.718c1.277.983 1.493 3.408 1.493 3.408h-7.58c.008-.048.39-2.45 1.767-3.424a3.8 3.8 0 0 1 2.192-.703zm-37.135.048a3.5 3.5 0 0 1 2.129.72c1.277.983 1.49 3.39 1.49 3.39h-7.578c.008-.054.387-2.453 1.765-3.407a3.8 3.8 0 0 1 2.194-.703'/%3E%3C/svg%3E");
			background-color: currentColor;
			-webkit-mask-image: var(--svg);
			mask-image: var(--svg);
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-size: 100% 100%;
			mask-size: 100% 100%;
		}

		.typescript-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23007acc' rx='60'/%3E%3Cpath fill='%23fff' d='m56.611 128.849l-.081 10.484h33.32v94.679h23.569v-94.679h33.32v-10.281c0-5.689-.121-10.443-.284-10.565c-.122-.162-20.399-.244-44.983-.203l-44.739.122zm149.956-10.741c6.501 1.626 11.459 4.511 16.01 9.224c2.357 2.52 5.851 7.112 6.136 8.209c.081.325-11.053 7.802-17.798 11.987c-.244.163-1.22-.894-2.317-2.519c-3.291-4.795-6.745-6.868-12.028-7.233c-7.761-.529-12.759 3.535-12.718 10.321c0 1.991.284 3.169 1.097 4.795c1.706 3.535 4.876 5.648 14.832 9.955c18.326 7.884 26.168 13.085 31.045 20.48c5.445 8.249 6.664 21.415 2.966 31.208c-4.063 10.646-14.141 17.879-28.323 20.277c-4.388.772-14.791.65-19.504-.203c-10.281-1.829-20.033-6.908-26.047-13.572c-2.357-2.601-6.949-9.387-6.664-9.875c.121-.162 1.178-.812 2.356-1.503c1.138-.65 5.446-3.129 9.509-5.486l7.355-4.267l1.544 2.276c2.154 3.291 6.867 7.802 9.712 9.305c8.167 4.308 19.383 3.698 24.909-1.259c2.357-2.154 3.332-4.389 3.332-7.68c0-2.967-.366-4.267-1.91-6.502c-1.991-2.844-6.054-5.242-17.595-10.24c-13.206-5.689-18.895-9.224-24.096-14.832c-3.007-3.25-5.852-8.452-7.03-12.8c-.975-3.616-1.219-12.678-.447-16.335c2.722-12.759 12.353-21.658 26.25-24.3c4.511-.853 14.994-.528 19.424.569'/%3E%3C/g%3E%3C/svg%3E");
		}

		.docker-icon {
			display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%232396ed' rx='60'/%3E%3Cpath fill='%23fff' d='M141.187 122.123h20.717v-18.744h-20.717zm-24.662 0h20.716v-18.744h-20.716zm-24.17 0h20.717v-18.744H92.355zm-24.17 0H88.41v-18.744H68.186zm-24.662 0H64.24v-18.744H43.523zm24.663-22.69h20.223V80.69H68.186zm24.17 0h20.716V80.69H92.355zm24.169 0h20.716V80.69h-20.716zm0-22.69h20.716V58h-20.716zM228 113.739s-8.879-8.386-27.129-5.426c-1.973-14.305-17.264-22.69-17.264-22.69s-14.304 17.264-3.946 36.501c-2.959 1.48-7.892 3.453-15.291 3.453H28.726c-2.467 9.372-2.467 71.521 65.602 71.521c48.832 0 85.333-22.689 102.597-64.123C222.574 134.948 228 113.738 228 113.738'/%3E%3C/g%3E%3C/svg%3E");
		}
	</style>
</Layout>
