---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<script>
	const mobileMenu = document.getElementById("mobile-menu");
	
	if (mobileMenu) {
		mobileMenu.addEventListener("click", function () {
			let internalLinks = document.getElementById("internal-links");

			if (internalLinks) {
				internalLinks.classList.toggle("active");
			} 

			mobileMenu.classList.toggle("active");
		});
	}
	
</script>

<header>
	<nav class="nav-menu">
		<h2><a href="/">{SITE_TITLE}</a></h2>

		<button id="mobile-menu" class="">☰</button>

		<div id="internal-links" class="internal-links">
			<HeaderLink href="/">Principal</HeaderLink>
			<HeaderLink href="/about">Sobre mí</HeaderLink>
			<HeaderLink href="/experience">Experiencia</HeaderLink>
			<HeaderLink href="/projects">Tecnología</HeaderLink>
			<HeaderLink href="/contact">Contacto</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding-left: 1em;
		background: #aad7d9;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
		color: #fbf9f1;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 1em;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	
	.internal-links {
		display: flex;
		align-items: center;
	}

	#mobile-menu {
		display: none;
	}

	@keyframes slideIn {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(0);
		}
	}
	
	/* Estilos para pantallas más pequeñas (móviles) */
	@media only screen and (max-width: 500px) {
		.internal-links {
			display: none;
			flex-direction: column;
			border: 1px solid black; 
			animation: slideIn 0.5s ease-out;
		}

		#mobile-menu {
			display: block;
			margin: 1em;
			font-size: 24px;
			background-color: transparent;
			border: none;
			color: #333; 
			cursor: pointer;
			transition: color 0.5s ease-in-out;
		}

		.internal-links.active {
			display: flex;
		}
	}
</style>
